In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [1]:
! pip install -r requirements.txt

Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.2.4)
Collecting matplotlib
  Using cached matplotlib-3.4.2-cp38-cp38-manylinux1_x86_64.whl (10.3 MB)
Collecting seaborn
  Using cached seaborn-0.11.1-py3-none-any.whl (285 kB)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 4)) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 2)) (2.8.1)
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting pillow>=6.2.0
  Using cached Pillow-8.2.0-cp38-cp38-manylinux1_x86_64.whl (3.0 MB)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.3.1-cp38-cp38-manylinux1_x86_64.whl (1.2 MB)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 2)) (2.4.7)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from cycler>=0.10->matplotlib->-r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 1)) (2021.1)
Collecting scipy>=1.0
  Using cached scipy-1.6.3-cp38-cp38-manylinux1_x86_64.whl (27.2 MB)
Installing collected packages: pillow, kiwisolver, cycler, scipy, matplotlib, seaborn
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.4.2 pillow-8.2.0 scipy-1.6.3 seaborn-0.11.1

In [214]:
asthma_H_df=pd.read_csv('H_prevelance_Adults with Asthma in the Past 12 Months.csv')

In [215]:
asthma_H_df.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Adults with Asthma in the Past 12 Months : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Adults with Asthma in the Past...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description: <p>Asthma is a common d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Notes: **Estimate is suppressed due to insuffi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,Age-Adjusted Percent,Number,Percent,Notes Age-Adjusted Percent,Notes Number,Notes Percent
7,2003,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.6,"244,000",4.6,NaN,NaN,NaN
8,2004,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.9,"297,000",4.9,NaN,NaN,NaN
9,2006,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,5.3,"318,000",5.3,NaN,NaN,NaN
10,2007,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.4,"266,000",4.4,NaN,NaN,NaN
11,2008,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,5.3,"322,000",5.3,NaN,NaN,NaN
12,2009,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.1,"248,000",4.1,NaN,NaN,NaN
13,2010,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,3.8,"226,000",3.7,NaN,NaN,NaN
14,2011,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.4,"277,000",4.5,NaN,NaN,NaN
15,2012,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.6,"290,000",4.6,NaN,NaN,NaN
16,2013,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,3.9,"246,000",3.9,NaN,NaN,NaN
17,2014,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,3.7,"238,000",3.7,NaN,NaN,NaN
18,2016,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.7,"230,000",4.7,NaN,NaN,NaN
19,2017,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.3,"289,000",4.4,NaN,NaN,NaN
20,2003,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,6.7,"52,000",6.4,NaN,NaN,NaN
21,2004,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,7.6,"70,000",7.5,NaN,NaN,NaN
22,2006,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,7.4,"69,000",7.4,NaN,NaN,NaN
23,2007,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,5.1,"46,000",5,NaN,NaN,NaN
24,2008,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,8.1,"76,000",8.2,NaN,NaN,NaN
25,2009,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,6.6,"61,000",6.6,NaN,NaN,NaN
26,2010,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,5.9,"54,000",5.9,NaN,NaN,NaN
27,2011,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,7.2,"69,000",7,NaN,NaN,NaN
28,2012,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,7.6,"76,000",7.7,NaN,NaN,NaN
29,2013,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,6.3,"60,000",6,NaN,NaN,NaN
30,2014,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,4.7,"48,000",4.7,NaN,NaN,NaN
31,2016,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,6.1,"46,000",6.2,NaN,NaN,NaN
32,2017,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,6.8,"74,000",6.2,NaN,NaN,NaN
33,2003,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.4,"69,000",4.3,NaN,NaN,NaN
34,2004,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,5.5,"100,000",5.5,NaN,NaN,NaN
35,2006,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,5,"89,000",5,NaN,NaN,NaN
36,2007,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.2,"74,000",4.1,NaN,NaN,NaN
37,2008,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,3.9,"70,000",3.9,NaN,NaN,NaN
38,2009,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4,"71,000",4,NaN,NaN,NaN
39,2010,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,3.1,"56,000",3.1,NaN,NaN,NaN
40,2011,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.6,"86,000",4.6,NaN,NaN,NaN
41,2012,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.2,"82,000",4.3,NaN,NaN,NaN
42,2013,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.2,"79,000",4.1,NaN,NaN,NaN
43,2014,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,3,"59,000",3,NaN,NaN,NaN
44,2016,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.1,"60,000",4.1,NaN,NaN,NaN
45,2017,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,3.7,"73,000",4,NaN,NaN,NaN
46,2003,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,4.8,"51,000",4.6,NaN,NaN,NaN
47,2004,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,4.3,"53,000",4.2,NaN,NaN,NaN
48,2006,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,6.5,"82,000",6.5,NaN,NaN,NaN
49,2007,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,4.6,"57,000",4.5,NaN,NaN,NaN

In [216]:
asthma_H_df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Adults with Asthma in the Past 12 Months : Summarize', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [217]:
#remove first 5 rows because it has no contribution to dataset
asthma_H_df = asthma_H_df.drop([0,1,2,3,4,5])

In [218]:
asthma_H_df.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Adults with Asthma in the Past 12 Months : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,Age-Adjusted Percent,Number,Percent,Notes Age-Adjusted Percent,Notes Number,Notes Percent
7,2003,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.6,"244,000",4.6,NaN,NaN,NaN
8,2004,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.9,"297,000",4.9,NaN,NaN,NaN
9,2006,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,5.3,"318,000",5.3,NaN,NaN,NaN
10,2007,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.4,"266,000",4.4,NaN,NaN,NaN
11,2008,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,5.3,"322,000",5.3,NaN,NaN,NaN
12,2009,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.1,"248,000",4.1,NaN,NaN,NaN
13,2010,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,3.8,"226,000",3.7,NaN,NaN,NaN
14,2011,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.4,"277,000",4.5,NaN,NaN,NaN
15,2012,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.6,"290,000",4.6,NaN,NaN,NaN
16,2013,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,3.9,"246,000",3.9,NaN,NaN,NaN
17,2014,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,3.7,"238,000",3.7,NaN,NaN,NaN
18,2016,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.7,"230,000",4.7,NaN,NaN,NaN
19,2017,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.3,"289,000",4.4,NaN,NaN,NaN
20,2003,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,6.7,"52,000",6.4,NaN,NaN,NaN
21,2004,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,7.6,"70,000",7.5,NaN,NaN,NaN
22,2006,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,7.4,"69,000",7.4,NaN,NaN,NaN
23,2007,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,5.1,"46,000",5,NaN,NaN,NaN
24,2008,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,8.1,"76,000",8.2,NaN,NaN,NaN
25,2009,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,6.6,"61,000",6.6,NaN,NaN,NaN
26,2010,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,5.9,"54,000",5.9,NaN,NaN,NaN
27,2011,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,7.2,"69,000",7,NaN,NaN,NaN
28,2012,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,7.6,"76,000",7.7,NaN,NaN,NaN
29,2013,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,6.3,"60,000",6,NaN,NaN,NaN
30,2014,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,4.7,"48,000",4.7,NaN,NaN,NaN
31,2016,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,6.1,"46,000",6.2,NaN,NaN,NaN
32,2017,Borough,Bronx,Bronx,1,Adults with Asthma in the Past 12 Months,6.8,"74,000",6.2,NaN,NaN,NaN
33,2003,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.4,"69,000",4.3,NaN,NaN,NaN
34,2004,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,5.5,"100,000",5.5,NaN,NaN,NaN
35,2006,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,5,"89,000",5,NaN,NaN,NaN
36,2007,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.2,"74,000",4.1,NaN,NaN,NaN
37,2008,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,3.9,"70,000",3.9,NaN,NaN,NaN
38,2009,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4,"71,000",4,NaN,NaN,NaN
39,2010,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,3.1,"56,000",3.1,NaN,NaN,NaN
40,2011,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.6,"86,000",4.6,NaN,NaN,NaN
41,2012,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.2,"82,000",4.3,NaN,NaN,NaN
42,2013,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.2,"79,000",4.1,NaN,NaN,NaN
43,2014,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,3,"59,000",3,NaN,NaN,NaN
44,2016,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,4.1,"60,000",4.1,NaN,NaN,NaN
45,2017,Borough,Brooklyn,Brooklyn,2,Adults with Asthma in the Past 12 Months,3.7,"73,000",4,NaN,NaN,NaN
46,2003,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,4.8,"51,000",4.6,NaN,NaN,NaN
47,2004,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,4.3,"53,000",4.2,NaN,NaN,NaN
48,2006,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,6.5,"82,000",6.5,NaN,NaN,NaN
49,2007,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,4.6,"57,000",4.5,NaN,NaN,NaN
50,2008,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,6,"76,000",6,NaN,NaN,NaN
51,2009,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,2.7,"33,000",2.6,NaN,NaN,NaN
52,2010,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,4.6,"56,000",4.4,NaN,NaN,NaN
53,2011,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,3.5,"44,000",3.4,NaN,NaN,NaN
54,2012,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,4.3,"56,000",4.3,NaN,NaN,NaN
55,2013,Borough,Manhattan,Manhattan,3,Adults with Asthma in the Past 12 Months,4.3,"56,000",4.3,NaN,NaN,NaN

In [219]:
#show that columns 9-11 don't have numerical values
asthma_H_df["Unnamed: 9"].drop_duplicates()

6                            Notes Age-Adjusted Percent
7                                                   NaN
79    *Estimate is based on small numbers so should ...
95    **Estimate is suppressed due to insufficient d...
Name: Unnamed: 9, dtype: object

In [220]:
#show that columns 9-11 don't have numerical values
asthma_H_df["Unnamed: 10"].drop_duplicates()

6                                          Notes Number
7                                                   NaN
79    *Estimate is based on small numbers so should ...
95    **Estimate is suppressed due to insufficient d...
Name: Unnamed: 10, dtype: object

In [221]:
#show that columns 9-11 don't have numerical values
asthma_H_df["Unnamed: 11"].drop_duplicates()

6                                         Notes Percent
7                                                   NaN
79    *Estimate is based on small numbers so should ...
95    **Estimate is suppressed due to insufficient d...
Name: Unnamed: 11, dtype: object

In [222]:
#remove columns 9-11 because its a notes section with NA values
asthma_H_df = asthma_H_df.drop(columns = ['Unnamed: 9','Unnamed: 10','Unnamed: 11'])

In [223]:
asthma_H_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Adults with Asthma in the Past 12 Months : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,Age-Adjusted Percent,Number,Percent
7,2003,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.6,"244,000",4.6
8,2004,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.9,"297,000",4.9
9,2006,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,5.3,"318,000",5.3
10,2007,Citywide,New York City,New York City,1,Adults with Asthma in the Past 12 Months,4.4,"266,000",4.4

In [224]:
#rename columns
asthma_H_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','adults_12mo_asthma_age_adjusted_percent','adults_12mo_asthma_number','adults_12mo_asthma_percent']

In [225]:
asthma_H_df = asthma_H_df.drop(columns = ['indicator_name'])

In [226]:
asthma_H_df.head()

,year,geo_type_name,borough,geography,geography_id,adults_12mo_asthma_age_adjusted_percent,adults_12mo_asthma_number,adults_12mo_asthma_percent
6,Year,GeoTypeName,Borough,Geography,Geography ID,Age-Adjusted Percent,Number,Percent
7,2003,Citywide,New York City,New York City,1,4.6,"244,000",4.6
8,2004,Citywide,New York City,New York City,1,4.9,"297,000",4.9
9,2006,Citywide,New York City,New York City,1,5.3,"318,000",5.3
10,2007,Citywide,New York City,New York City,1,4.4,"266,000",4.4

In [227]:
#remove duplicate labels
asthma_H_df = asthma_H_df.drop([6])

In [228]:
asthma_H_df.head()

,year,geo_type_name,borough,geography,geography_id,adults_12mo_asthma_age_adjusted_percent,adults_12mo_asthma_number,adults_12mo_asthma_percent
7,2003,Citywide,New York City,New York City,1,4.6,"244,000",4.6
8,2004,Citywide,New York City,New York City,1,4.9,"297,000",4.9
9,2006,Citywide,New York City,New York City,1,5.3,"318,000",5.3
10,2007,Citywide,New York City,New York City,1,4.4,"266,000",4.4
11,2008,Citywide,New York City,New York City,1,5.3,"322,000",5.3

In [229]:
asthma_H_df=asthma_H_df.reset_index(drop=True)

In [230]:
asthma_H_df.head()

,year,geo_type_name,borough,geography,geography_id,adults_12mo_asthma_age_adjusted_percent,adults_12mo_asthma_number,adults_12mo_asthma_percent
0,2003,Citywide,New York City,New York City,1,4.6,"244,000",4.6
1,2004,Citywide,New York City,New York City,1,4.9,"297,000",4.9
2,2006,Citywide,New York City,New York City,1,5.3,"318,000",5.3
3,2007,Citywide,New York City,New York City,1,4.4,"266,000",4.4
4,2008,Citywide,New York City,New York City,1,5.3,"322,000",5.3

In [231]:
#viewing the last few rows to see if there is any more descriptions to remove
asthma_H_df.tail(50)

,year,geo_type_name,borough,geography,geography_id,adults_12mo_asthma_age_adjusted_percent,adults_12mo_asthma_number,adults_12mo_asthma_percent
479,2016,Neighborhood (UHF 34),Manhattan,Upper West Side,304,NaN,NaN,NaN
480,2017,Neighborhood (UHF 34),Manhattan,Upper West Side,304,1.1,"2,000",1
481,2003,Neighborhood (UHF 34),Manhattan,Washington Heights,301,3.4,"5,000",3.1
482,2004,Neighborhood (UHF 34),Manhattan,Washington Heights,301,5.5,"11,000",5.4
483,2006,Neighborhood (UHF 34),Manhattan,Washington Heights,301,4.9,"10,000",5
484,2007,Neighborhood (UHF 34),Manhattan,Washington Heights,301,3.8,"7,000",3.6
485,2008,Neighborhood (UHF 34),Manhattan,Washington Heights,301,5.7,"11,000",5.7
486,2009,Neighborhood (UHF 34),Manhattan,Washington Heights,301,2.6,"6,000",3.1
487,2010,Neighborhood (UHF 34),Manhattan,Washington Heights,301,4.1,"7,000",3.8
488,2011,Neighborhood (UHF 34),Manhattan,Washington Heights,301,NaN,NaN,NaN
489,2012,Neighborhood (UHF 34),Manhattan,Washington Heights,301,3.1,"6,000",3
490,2013,Neighborhood (UHF 34),Manhattan,Washington Heights,301,6.2,"12,000",6.5
491,2014,Neighborhood (UHF 34),Manhattan,Washington Heights,301,5.2,"11,000",5.4
492,2016,Neighborhood (UHF 34),Manhattan,Washington Heights,301,4.5,"5,000",3.9
493,2017,Neighborhood (UHF 34),Manhattan,Washington Heights,301,7.2,"16,000",7.7
494,2003,Neighborhood (UHF 34),Queens,West Queens,402,5.2,"16,000",5.4
495,2004,Neighborhood (UHF 34),Queens,West Queens,402,2,"8,000",2
496,2006,Neighborhood (UHF 34),Queens,West Queens,402,2.3,"9,000",2.5
497,2007,Neighborhood (UHF 34),Queens,West Queens,402,2.9,"11,000",3
498,2008,Neighborhood (UHF 34),Queens,West Queens,402,4,"15,000",4.1
499,2009,Neighborhood (UHF 34),Queens,West Queens,402,1.5,"4,000",1.2
500,2010,Neighborhood (UHF 34),Queens,West Queens,402,2.4,"8,000",2.2
501,2011,Neighborhood (UHF 34),Queens,West Queens,402,6,"21,000",6
502,2012,Neighborhood (UHF 34),Queens,West Queens,402,2.4,"9,000",2.5
503,2013,Neighborhood (UHF 34),Queens,West Queens,402,1.9,"7,000",2.1
504,2014,Neighborhood (UHF 34),Queens,West Queens,402,2.3,"8,000",2.2
505,2016,Neighborhood (UHF 34),Queens,West Queens,402,4.5,"14,000",4.7
506,2017,Neighborhood (UHF 34),Queens,West Queens,402,2.5,"10,000",2.6
507,2003,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,9.5,"9,000",8.1
508,2004,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,10.3,"13,000",10.1
509,2006,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,5.8,"8,000",6
510,2007,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,3.6,"4,000",3.1
511,2008,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,3.3,"4,000",3
512,2009,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,7.3,"9,000",6.9
513,2010,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,3.9,"5,000",3.7
514,2011,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,4.6,"7,000",4.5
515,2012,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,6.2,"9,000",6.4
516,2013,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,7,"11,000",7.1
517,2014,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,6.3,"9,000",5.7
518,2016,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,5.2,"7,000",4.8
519,2017,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,2.2,"3,000",2
520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521,Name:Adults with Asthma in the Past 12 Months,Measure:Number,How Calculated:Estimated number of adults aged...,Source(s):New York City Community Health,Year:2003 2004 2006 2007 2008 2009 2010 2011 2...,NaN,NaN,NaN
522,Name:Adults with Asthma in the Past 12 Months,Measure:Percent,How Calculated:Estimated number of adults aged...,Source(s):New York City Community Health,Year:2003 2004 2006 2007 2008 2009 2010 2011 2...,NaN,NaN,NaN
523,Name:Adults with Asthma in the Past 12 Months,Measure:Age-Adjusted Percent,How Calculated:Estimated number of adults aged...,Source(s):New York City Community Health,Year:2003 2004 2006 2007 2008 2009 2010 2011 2...,NaN,NaN,NaN
524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,Accessed 05/16/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [232]:
#remove rows 520-528 because they have no contribution to dataset
asthma_H_df = asthma_H_df.drop([520,521,522,523,524,525,526,527,528])

In [233]:
asthma_H_df.tail(15)

,year,geo_type_name,borough,geography,geography_id,adults_12mo_asthma_age_adjusted_percent,adults_12mo_asthma_number,adults_12mo_asthma_percent
505,2016,Neighborhood (UHF 34),Queens,West Queens,402,4.5,"14,000",4.7
506,2017,Neighborhood (UHF 34),Queens,West Queens,402,2.5,"10,000",2.6
507,2003,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,9.5,"9,000",8.1
508,2004,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,10.3,"13,000",10.1
509,2006,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,5.8,"8,000",6
510,2007,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,3.6,"4,000",3.1
511,2008,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,3.3,"4,000",3
512,2009,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,7.3,"9,000",6.9
513,2010,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,3.9,"5,000",3.7
514,2011,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,4.6,"7,000",4.5
515,2012,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,6.2,"9,000",6.4
516,2013,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,7,"11,000",7.1
517,2014,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,6.3,"9,000",5.7
518,2016,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,5.2,"7,000",4.8
519,2017,Neighborhood (UHF 34),Brooklyn,Williamsburg - Bushwick,211,2.2,"3,000",2

In [234]:
asthma_H_df["geo_type_name"]=  asthma_H_df["geo_type_name"].str.lower() 
asthma_H_df["borough"]=  asthma_H_df["borough"].str.lower() 
asthma_H_df["geography"]=  asthma_H_df["geography"].str.lower()

In [235]:
#remove commas from all values 
asthma_H_df = asthma_H_df.replace(',','', regex=True)

In [236]:
asthma_H_df.dtypes

year                                       object
geo_type_name                              object
borough                                    object
geography                                  object
geography_id                               object
adults_12mo_asthma_age_adjusted_percent    object
adults_12mo_asthma_number                  object
adults_12mo_asthma_percent                 object
dtype: object

In [237]:
#changing to correct datatype
asthma_H_df.year = asthma_H_df.year.astype('category')
asthma_H_df.geo_type_name = asthma_H_df.geo_type_name.astype('category')
asthma_H_df.borough = asthma_H_df.borough.astype('category')
asthma_H_df.geography = asthma_H_df.geography.astype('category')
asthma_H_df.geography_id = asthma_H_df.geography_id.astype('category')

asthma_H_df.adults_12mo_asthma_age_adjusted_percent = asthma_H_df.adults_12mo_asthma_age_adjusted_percent.astype('float')
asthma_H_df.adults_12mo_asthma_number = asthma_H_df.adults_12mo_asthma_number.astype('float')
asthma_H_df.adults_12mo_asthma_percent = asthma_H_df.adults_12mo_asthma_percent.astype('float')

In [238]:
asthma_H_df.dtypes

year                                       category
geo_type_name                              category
borough                                    category
geography                                  category
geography_id                               category
adults_12mo_asthma_age_adjusted_percent     float64
adults_12mo_asthma_number                   float64
adults_12mo_asthma_percent                  float64
dtype: object

In [239]:
#export clean dataset
asthma_H_df.to_csv("H_clean.csv", encoding="utf-8")

In [240]:
########## MERGING
asthma_H_df['year'].value_counts()

2003    40
2004    40
2006    40
2007    40
2008    40
2009    40
2010    40
2011    40
2012    40
2013    40
2014    40
2016    40
2017    40
Name: year, dtype: int64

In [241]:
asthma_H_df['geo_type_name'].value_counts()

neighborhood (uhf 34)    442
borough                   65
citywide                  13
Name: geo_type_name, dtype: int64

In [242]:
asthma_G_df=pd.read_csv('G_prevelenace_ Public School Children (5-14 Yrs Old) with Asthma.csv')

In [243]:
asthma_G_df.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Public School Children (5-14 Yrs Old) with Asthma : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Public School Children (5-14 Y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description: Asthma is a common dise...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Estimated Annual Rate (per 1,000)",Number,Notes Estimated Annual Rate,Notes Number,NaN
6,2010-2011,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Asthma,56.8,"53,715",NaN,NaN,NaN
7,2011-2012,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Asthma,67.5,"63,767",NaN,NaN,NaN
8,2012-2013,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Asthma,71.0,"67,273",NaN,NaN,NaN
9,2013-2014,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Asthma,73.8,"69,842",NaN,NaN,NaN
10,2010-2011,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Asthma,75.8,"14,995",NaN,NaN,NaN
11,2011-2012,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Asthma,90.8,"17,993",NaN,NaN,NaN
12,2012-2013,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Asthma,97.4,"19,330",NaN,NaN,NaN
13,2013-2014,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Asthma,102.5,"20,358",NaN,NaN,NaN
14,2010-2011,Borough,Brooklyn,Brooklyn,2,Public School Children (5-14 Yrs Old) with Asthma,47.9,"15,297",NaN,NaN,NaN
15,2011-2012,Borough,Brooklyn,Brooklyn,2,Public School Children (5-14 Yrs Old) with Asthma,55.8,"17,717",NaN,NaN,NaN
16,2012-2013,Borough,Brooklyn,Brooklyn,2,Public School Children (5-14 Yrs Old) with Asthma,58.1,"18,500",NaN,NaN,NaN
17,2013-2014,Borough,Brooklyn,Brooklyn,2,Public School Children (5-14 Yrs Old) with Asthma,59.6,"18,977",NaN,NaN,NaN
18,2010-2011,Borough,Manhattan,Manhattan,3,Public School Children (5-14 Yrs Old) with Asthma,51.0,"6,120",NaN,NaN,NaN
19,2011-2012,Borough,Manhattan,Manhattan,3,Public School Children (5-14 Yrs Old) with Asthma,61.5,"7,444",NaN,NaN,NaN
20,2012-2013,Borough,Manhattan,Manhattan,3,Public School Children (5-14 Yrs Old) with Asthma,65.3,"7,936",NaN,NaN,NaN
21,2013-2014,Borough,Manhattan,Manhattan,3,Public School Children (5-14 Yrs Old) with Asthma,68.4,"8,317",NaN,NaN,NaN
22,2010-2011,Borough,Queens,Queens,4,Public School Children (5-14 Yrs Old) with Asthma,56.4,"14,000",NaN,NaN,NaN
23,2011-2012,Borough,Queens,Queens,4,Public School Children (5-14 Yrs Old) with Asthma,68.2,"16,920",NaN,NaN,NaN
24,2012-2013,Borough,Queens,Queens,4,Public School Children (5-14 Yrs Old) with Asthma,71.3,"17,763",NaN,NaN,NaN
25,2013-2014,Borough,Queens,Queens,4,Public School Children (5-14 Yrs Old) with Asthma,73.9,"18,398",NaN,NaN,NaN
26,2010-2011,Borough,Staten Island,Staten Island,5,Public School Children (5-14 Yrs Old) with Asthma,54.3,"3,289",NaN,NaN,NaN
27,2011-2012,Borough,Staten Island,Staten Island,5,Public School Children (5-14 Yrs Old) with Asthma,61.3,"3,674",NaN,NaN,NaN
28,2012-2013,Borough,Staten Island,Staten Island,5,Public School Children (5-14 Yrs Old) with Asthma,62.5,"3,728",NaN,NaN,NaN
29,2013-2014,Borough,Staten Island,Staten Island,5,Public School Children (5-14 Yrs Old) with Asthma,63.1,"3,760",NaN,NaN,NaN
30,2010-2011,Neighborhood (UHF 42),Queens,Bayside - Little Neck,404,Public School Children (5-14 Yrs Old) with Asthma,50.8,478,NaN,NaN,NaN
31,2011-2012,Neighborhood (UHF 42),Queens,Bayside - Little Neck,404,Public School Children (5-14 Yrs Old) with Asthma,57.1,540,NaN,NaN,NaN
32,2012-2013,Neighborhood (UHF 42),Queens,Bayside - Little Neck,404,Public School Children (5-14 Yrs Old) with Asthma,58.4,555,NaN,NaN,NaN
33,2013-2014,Neighborhood (UHF 42),Queens,Bayside - Little Neck,404,Public School Children (5-14 Yrs Old) with Asthma,59.4,564,NaN,NaN,NaN
34,2010-2011,Neighborhood (UHF 42),Brooklyn,Bedford Stuyvesant - Crown Heights,203,Public School Children (5-14 Yrs Old) with Asthma,79.7,"3,265",NaN,NaN,NaN
35,2011-2012,Neighborhood (UHF 42),Brooklyn,Bedford Stuyvesant - Crown Heights,203,Public School Children (5-14 Yrs Old) with Asthma,92.1,"3,717",NaN,NaN,NaN
36,2012-2013,Neighborhood (UHF 42),Brooklyn,Bedford Stuyvesant - Crown Heights,203,Public School Children (5-14 Yrs Old) with Asthma,99.0,"3,975",NaN,NaN,NaN
37,2013-2014,Neighborhood (UHF 42),Brooklyn,Bedford Stuyvesant - Crown Heights,203,Public School Children (5-14 Yrs Old) with Asthma,103.6,"4,158",NaN,NaN,NaN
38,2010-2011,Neighborhood (UHF 42),Brooklyn,Bensonhurst - Bay Ridge,209,Public School Children (5-14 Yrs Old) with Asthma,30.9,702,NaN,NaN,NaN
39,2011-2012,Neighborhood (UHF 42),Brooklyn,Bensonhurst - Bay Ridge,209,Public School Children (5-14 Yrs Old) with Asthma,37.9,862,NaN,NaN,NaN
40,2012-2013,Neighborhood (UHF 42),Brooklyn,Bensonhurst - Bay Ridge,209,Public School Children (5-14 Yrs Old) with Asthma,39.6,909,NaN,NaN,NaN
41,2013-2014,Neighborhood (UHF 42),Brooklyn,Bensonhurst - Bay Ridge,209,Public School Children (5-14 Yrs Old) with Asthma,39.1,897,NaN,NaN,NaN
42,2010-2011,Neighborhood (UHF 42),Brooklyn,Borough Park,206,Public School Children (5-14 Yrs Old) with Asthma,17.7,928,NaN,NaN,NaN
43,2011-2012,Neighborhood (UHF 42),Brooklyn,Borough Park,206,Public School Children (5-14 Yrs Old) with Asthma,21.5,"1,132",NaN,NaN,NaN
44,2012-2013,Neighborhood (UHF 42),Brooklyn,Borough Park,206,Public School Children (5-14 Yrs Old) with Asthma,22.0,"1,167",NaN,NaN,NaN
45,2013-2014,Neighborhood (UHF 42),Brooklyn,Borough Park,206,Public School Children (5-14 Yrs Old) with Asthma,22.4,"1,189",NaN,NaN,NaN
46,2010-2011,Neighborhood (UHF 42),Brooklyn,Canarsie - Flatlands,208,Public School Children (5-14 Yrs Old) with Asthma,53.0,"1,343",NaN,NaN,NaN
47,2011-2012,Neighborhood (UHF 42),Brooklyn,Canarsie - Flatlands,208,Public School Children (5-14 Yrs Old) with Asthma,62.0,"1,554",NaN,NaN,NaN
48,2012-2013,Neighborhood (UHF 42),Brooklyn,Canarsie - Flatlands,208,Public School Children (5-14 Yrs Old) with Asthma,65.8,"1,644",NaN,NaN,NaN
49,2013-2014,Neighborhood (UHF 42),Brooklyn,Canarsie - Flatlands,208,Public School Children (5-14 Yrs Old) with Asthma,68.3,"1,707",NaN,NaN,NaN

In [244]:
asthma_G_df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Public School Children (5-14 Yrs Old) with Asthma : Summarize',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [245]:
#remove first 4 rows because it has no contribution to dataset
asthma_G_df = asthma_G_df.drop([0,1,2,3,4])

In [246]:
#show that columns 8-10 don't have numerical values
asthma_G_df["Unnamed: 8"].drop_duplicates()

5    Notes Estimated Annual Rate
6                            NaN
Name: Unnamed: 8, dtype: object

In [247]:
#show that columns 8-10 don't have numerical values
asthma_G_df["Unnamed: 9"].drop_duplicates()

5    Notes Number
6             NaN
Name: Unnamed: 9, dtype: object

In [248]:
#show that columns 8-10 don't have numerical values
asthma_G_df["Unnamed: 10"].drop_duplicates()

5   NaN
Name: Unnamed: 10, dtype: float64

In [249]:
#remove columns 8-10 because its a notes section with NA values
asthma_G_df = asthma_G_df.drop(columns = ['Unnamed: 8','Unnamed: 9','Unnamed: 10'])

In [250]:
asthma_G_df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Public School Children (5-14 Yrs Old) with Asthma : Summarize,Unnamed: 6,Unnamed: 7
5,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Estimated Annual Rate (per 1,000)",Number
6,2010-2011,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Asthma,56.8,"53,715"
7,2011-2012,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Asthma,67.5,"63,767"
8,2012-2013,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Asthma,71.0,"67,273"
9,2013-2014,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Asthma,73.8,"69,842"
10,2010-2011,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Asthma,75.8,"14,995"
11,2011-2012,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Asthma,90.8,"17,993"
12,2012-2013,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Asthma,97.4,"19,330"
13,2013-2014,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Asthma,102.5,"20,358"
14,2010-2011,Borough,Brooklyn,Brooklyn,2,Public School Children (5-14 Yrs Old) with Asthma,47.9,"15,297"

In [251]:
#rename columns
asthma_G_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','children_5_14_estimated_annual_rate_per_1000','children_5_14_number']

In [252]:
#remove duplicate labels
asthma_G_df = asthma_G_df.drop([5])

In [253]:
asthma_G_df = asthma_G_df.drop(columns = ['indicator_name'])

In [254]:
asthma_G_df=asthma_G_df.reset_index(drop=True)

In [255]:
asthma_G_df.tail(20)

,year,geo_type_name,borough,geography,geography_id,children_5_14_estimated_annual_rate_per_1000,children_5_14_number
180,2010-2011,Neighborhood (UHF 42),Queens,West Queens,402,54.6,"2,930"
181,2011-2012,Neighborhood (UHF 42),Queens,West Queens,402,67.9,"3,657"
182,2012-2013,Neighborhood (UHF 42),Queens,West Queens,402,72.4,"3,924"
183,2013-2014,Neighborhood (UHF 42),Queens,West Queens,402,77.3,"4,188"
184,2010-2011,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,74.4,"2,226"
185,2011-2012,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,85.2,"2,526"
186,2012-2013,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,86.4,"2,557"
187,2013-2014,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,86.3,"2,555"
188,2010-2011,Neighborhood (UHF 42),Staten Island,Willowbrook,503,45.6,458
189,2011-2012,Neighborhood (UHF 42),Staten Island,Willowbrook,503,54.8,544
190,2012-2013,Neighborhood (UHF 42),Staten Island,Willowbrook,503,56.0,553
191,2013-2014,Neighborhood (UHF 42),Staten Island,Willowbrook,503,54.2,535
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,Name:Public School Children (5-14 Yrs Old) wit...,Measure:Number,How Calculated:Number of public school childre...,Source(s):New York City Automated School,Year:2010-2011 2011-2012 2012-2013 2013-2014,NaN,NaN
194,Name:Public School Children (5-14 Yrs Old) wit...,Measure:Estimated Annual Rate (per 1000),How Calculated:<p>Number of public school chil...,Source(s):New York City Automated School,Year:2010-2011 2011-2012 2012-2013 2013-2014,NaN,NaN
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN
197,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN
198,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN
199,Accessed 05/16/2021,NaN,NaN,NaN,NaN,NaN,NaN

In [256]:
#remove rows 192-199 because they have no contribution to dataset
asthma_G_df = asthma_G_df.drop([193,194,195,196,197,198,199,192])

In [257]:
asthma_G_df.tail(10)

,year,geo_type_name,borough,geography,geography_id,children_5_14_estimated_annual_rate_per_1000,children_5_14_number
182,2012-2013,Neighborhood (UHF 42),Queens,West Queens,402,72.4,"3,924"
183,2013-2014,Neighborhood (UHF 42),Queens,West Queens,402,77.3,"4,188"
184,2010-2011,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,74.4,"2,226"
185,2011-2012,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,85.2,"2,526"
186,2012-2013,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,86.4,"2,557"
187,2013-2014,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,86.3,"2,555"
188,2010-2011,Neighborhood (UHF 42),Staten Island,Willowbrook,503,45.6,458
189,2011-2012,Neighborhood (UHF 42),Staten Island,Willowbrook,503,54.8,544
190,2012-2013,Neighborhood (UHF 42),Staten Island,Willowbrook,503,56.0,553
191,2013-2014,Neighborhood (UHF 42),Staten Island,Willowbrook,503,54.2,535

In [258]:
asthma_G_df["geo_type_name"]=  asthma_G_df["geo_type_name"].str.lower() 
asthma_G_df["borough"]=  asthma_G_df["borough"].str.lower() 
asthma_G_df["geography"]=  asthma_G_df["geography"].str.lower()

In [259]:
#remove commas from all values 
asthma_G_df = asthma_G_df.replace(',','', regex=True)

In [260]:
asthma_G_df.head(10)

,year,geo_type_name,borough,geography,geography_id,children_5_14_estimated_annual_rate_per_1000,children_5_14_number
0,2010-2011,citywide,new york city,new york city,1,56.8,53715
1,2011-2012,citywide,new york city,new york city,1,67.5,63767
2,2012-2013,citywide,new york city,new york city,1,71.0,67273
3,2013-2014,citywide,new york city,new york city,1,73.8,69842
4,2010-2011,borough,bronx,bronx,1,75.8,14995
5,2011-2012,borough,bronx,bronx,1,90.8,17993
6,2012-2013,borough,bronx,bronx,1,97.4,19330
7,2013-2014,borough,bronx,bronx,1,102.5,20358
8,2010-2011,borough,brooklyn,brooklyn,2,47.9,15297
9,2011-2012,borough,brooklyn,brooklyn,2,55.8,17717

In [261]:
asthma_G_df.dtypes

year                                            object
geo_type_name                                   object
borough                                         object
geography                                       object
geography_id                                    object
children_5_14_estimated_annual_rate_per_1000    object
children_5_14_number                            object
dtype: object

In [262]:
#changing to correct datatype
asthma_G_df.year = asthma_G_df.year.astype('category')
asthma_G_df.geo_type_name = asthma_G_df.geo_type_name.astype('category')
asthma_G_df.borough = asthma_G_df.borough.astype('category')
asthma_G_df.geography = asthma_G_df.geography.astype('category')
asthma_G_df.geography_id = asthma_G_df.geography_id.astype('category')
asthma_G_df.children_5_14_estimated_annual_rate_per_1000 = asthma_G_df.children_5_14_estimated_annual_rate_per_1000.astype('float')
asthma_G_df.children_5_14_number = asthma_G_df.children_5_14_number.astype('float')

In [263]:
asthma_G_df.head(10)

,year,geo_type_name,borough,geography,geography_id,children_5_14_estimated_annual_rate_per_1000,children_5_14_number
0,2010-2011,citywide,new york city,new york city,1,56.8,53715.0
1,2011-2012,citywide,new york city,new york city,1,67.5,63767.0
2,2012-2013,citywide,new york city,new york city,1,71.0,67273.0
3,2013-2014,citywide,new york city,new york city,1,73.8,69842.0
4,2010-2011,borough,bronx,bronx,1,75.8,14995.0
5,2011-2012,borough,bronx,bronx,1,90.8,17993.0
6,2012-2013,borough,bronx,bronx,1,97.4,19330.0
7,2013-2014,borough,bronx,bronx,1,102.5,20358.0
8,2010-2011,borough,brooklyn,brooklyn,2,47.9,15297.0
9,2011-2012,borough,brooklyn,brooklyn,2,55.8,17717.0

In [264]:
#export clean dataset
asthma_G_df.to_csv("G_clean.csv", encoding="utf-8")

In [265]:
########## MERGING
asthma_G_df['year'].value_counts()

2010-2011    48
2011-2012    48
2012-2013    48
2013-2014    48
Name: year, dtype: int64

In [266]:
asthma_G_df['geo_type_name'].value_counts()

neighborhood (uhf 42)    168
borough                   20
citywide                   4
Name: geo_type_name, dtype: int64

In [267]:

#dataset_J and K is not grouped by UFH location, only by borough. probably not useful so skipping for now

In [268]:
asthma_I_df=pd.read_csv('I_prevelance_Public School Children (5-14 Yrs Old) with Persistent Asthma-2.csv')

In [269]:
asthma_I_df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Public School Children (5-14 Yrs Old) with Persistent Asthma : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Public School Children (5-14 Y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Estimated Annual Rate (per 1,000)",Number,Notes Estimated Annual Rate,Notes Number
6,2010-2011,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Per...,15.7,"14,855",NaN,NaN
7,2011-2012,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Per...,18.9,"17,831",NaN,NaN
8,2012-2013,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Per...,20.1,"18,986",NaN,NaN
9,2013-2014,Citywide,New York City,New York City,1,Public School Children (5-14 Yrs Old) with Per...,21.3,"20,123",NaN,NaN
10,2010-2011,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Per...,24.6,"4,868",NaN,NaN
11,2011-2012,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Per...,30.5,"6,051",NaN,NaN
12,2012-2013,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Per...,33.1,"6,572",NaN,NaN
13,2013-2014,Borough,Bronx,Bronx,1,Public School Children (5-14 Yrs Old) with Per...,35.3,"7,010",NaN,NaN
14,2010-2011,Borough,Brooklyn,Brooklyn,2,Public School Children (5-14 Yrs Old) with Per...,13.5,"4,301",NaN,NaN
15,2011-2012,Borough,Brooklyn,Brooklyn,2,Public School Children (5-14 Yrs Old) with Per...,15.9,"5,041",NaN,NaN
16,2012-2013,Borough,Brooklyn,Brooklyn,2,Public School Children (5-14 Yrs Old) with Per...,16.9,"5,369",NaN,NaN
17,2013-2014,Borough,Brooklyn,Brooklyn,2,Public School Children (5-14 Yrs Old) with Per...,17.8,"5,676",NaN,NaN
18,2010-2011,Borough,Manhattan,Manhattan,3,Public School Children (5-14 Yrs Old) with Per...,15.1,"1,812",NaN,NaN
19,2011-2012,Borough,Manhattan,Manhattan,3,Public School Children (5-14 Yrs Old) with Per...,18.7,"2,265",NaN,NaN

In [270]:
#remove first 4 rows because it has no contribution to dataset
asthma_I_df = asthma_I_df.drop([0,1,2,3,4])

In [271]:
#show that columns 8-9 don't have numerical values
asthma_I_df["Unnamed: 8"].drop_duplicates()

5    Notes Estimated Annual Rate
6                            NaN
Name: Unnamed: 8, dtype: object

In [272]:
#show that columns 8-9 don't have numerical values
asthma_I_df["Unnamed: 9"].drop_duplicates()

5    Notes Number
6             NaN
Name: Unnamed: 9, dtype: object

In [273]:
#remove columns 9-11 because its a notes section with NA values
asthma_I_df = asthma_I_df.drop(columns = ['Unnamed: 8','Unnamed: 9'])

In [274]:
#rename columns
asthma_I_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','children_5_14_persistent_estimated_annual_rate_per_1000','children_5_14_persistent_number']

In [275]:
asthma_I_df = asthma_I_df.drop(columns = ['indicator_name'])

In [276]:
asthma_I_df.head(10)

,year,geo_type_name,borough,geography,geography_id,children_5_14_persistent_estimated_annual_rate_per_1000,children_5_14_persistent_number
5,Year,GeoTypeName,Borough,Geography,Geography ID,"Estimated Annual Rate (per 1,000)",Number
6,2010-2011,Citywide,New York City,New York City,1,15.7,"14,855"
7,2011-2012,Citywide,New York City,New York City,1,18.9,"17,831"
8,2012-2013,Citywide,New York City,New York City,1,20.1,"18,986"
9,2013-2014,Citywide,New York City,New York City,1,21.3,"20,123"
10,2010-2011,Borough,Bronx,Bronx,1,24.6,"4,868"
11,2011-2012,Borough,Bronx,Bronx,1,30.5,"6,051"
12,2012-2013,Borough,Bronx,Bronx,1,33.1,"6,572"
13,2013-2014,Borough,Bronx,Bronx,1,35.3,"7,010"
14,2010-2011,Borough,Brooklyn,Brooklyn,2,13.5,"4,301"

In [277]:
asthma_I_df = asthma_I_df.drop([5])

In [278]:
asthma_I_df=asthma_I_df.reset_index(drop=True)

In [279]:
asthma_I_df.tail(20)

,year,geo_type_name,borough,geography,geography_id,children_5_14_persistent_estimated_annual_rate_per_1000,children_5_14_persistent_number
181,2011-2012,Neighborhood (UHF 42),Queens,West Queens,402,13,703
182,2012-2013,Neighborhood (UHF 42),Queens,West Queens,402,13.3,723
183,2013-2014,Neighborhood (UHF 42),Queens,West Queens,402,14.8,803
184,2010-2011,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,20.7,620
185,2011-2012,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,24.9,739
186,2012-2013,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,25.4,751
187,2013-2014,Neighborhood (UHF 42),Brooklyn,Williamsburg - Bushwick,211,24.3,719
188,2010-2011,Neighborhood (UHF 42),Staten Island,Willowbrook,503,12.9,129
189,2011-2012,Neighborhood (UHF 42),Staten Island,Willowbrook,503,12.1,120
190,2012-2013,Neighborhood (UHF 42),Staten Island,Willowbrook,503,11.9,118
191,2013-2014,Neighborhood (UHF 42),Staten Island,Willowbrook,503,11.6,115
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,Name:Public School Children (5-14 Yrs Old) wit...,Measure:Number,How Calculated:Number of public school childre...,NaN,NaN,NaN,NaN
194,NaN,Source(s):New York City Automated School,Year:2010-2011 2011-2012 2012-2013 2013-2014,NaN,NaN,NaN,NaN
195,Name:Public School Children (5-14 Yrs Old) wit...,Measure:Estimated Annual Rate (per 1000),How Calculated:<p>Number of public school chil...,Source(s):New York City Automated School,Year:2010-2011 2011-2012 2012-2013 2013-2014,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN
198,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN
199,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN
200,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN

In [280]:
#remove rows 192-200 because they have no contribution to dataset
asthma_I_df = asthma_I_df.drop([193,194,195,196,197,198,199,192,200])

In [281]:
asthma_I_df["geo_type_name"]=  asthma_I_df["geo_type_name"].str.lower() 
asthma_I_df["borough"]=  asthma_I_df["borough"].str.lower() 
asthma_I_df["geography"]=  asthma_I_df["geography"].str.lower()

In [282]:
#remove commas from all values 
asthma_I_df = asthma_I_df.replace(',','', regex=True)

In [283]:
asthma_I_df.dtypes

year                                                       object
geo_type_name                                              object
borough                                                    object
geography                                                  object
geography_id                                               object
children_5_14_persistent_estimated_annual_rate_per_1000    object
children_5_14_persistent_number                            object
dtype: object

In [284]:
#changing to correct datatype
asthma_I_df.year = asthma_I_df.year.astype('category')
asthma_I_df.geo_type_name = asthma_I_df.geo_type_name.astype('category')
asthma_I_df.borough = asthma_I_df.borough.astype('category')
asthma_I_df.geography = asthma_I_df.geography.astype('category')
asthma_I_df.geography_id = asthma_I_df.geography_id.astype('category')

asthma_I_df.children_5_14_persistent_estimated_annual_rate_per_1000 = asthma_I_df.children_5_14_persistent_estimated_annual_rate_per_1000.astype('float')
asthma_I_df.children_5_14_persistent_number = asthma_I_df.children_5_14_persistent_number.astype('float')

In [285]:
asthma_I_df.dtypes

year                                                       category
geo_type_name                                              category
borough                                                    category
geography                                                  category
geography_id                                               category
children_5_14_persistent_estimated_annual_rate_per_1000     float64
children_5_14_persistent_number                             float64
dtype: object

In [286]:
#export clean dataset
asthma_I_df.to_csv("I_clean.csv", encoding="utf-8")

In [287]:
########## MERGING
asthma_I_df['year'].value_counts()

2010-2011    48
2011-2012    48
2012-2013    48
2013-2014    48
Name: year, dtype: int64

In [288]:
asthma_I_df['geo_type_name'].value_counts()

neighborhood (uhf 42)    168
borough                   20
citywide                   4
Name: geo_type_name, dtype: int64

In [294]:
asthma_I_uhf42 = asthma_I_df[asthma_I_df.geo_type_name == 'neighborhood (uhf 42)']

In [295]:
asthma_I_uhf42.shape

(168, 7)

In [296]:
asthma_G_uhf42 = asthma_G_df[asthma_G_df.geo_type_name == 'neighborhood (uhf 42)']

In [297]:
asthma_G_uhf42.shape

(168, 7)

In [299]:
### MERGE DATASETS G, I
asthma_G_I_uhf42 = asthma_I_uhf42.merge(asthma_G_uhf42, on = ['geography_id'])
asthma_G_I_uhf42.head()

,year_x,geo_type_name_x,borough_x,geography_x,geography_id,children_5_14_persistent_estimated_annual_rate_per_1000,children_5_14_persistent_number,year_y,geo_type_name_y,borough_y,geography_y,children_5_14_estimated_annual_rate_per_1000,children_5_14_number
0,2010-2011,neighborhood (uhf 42),queens,bayside - little neck,404,8.7,82.0,2010-2011,neighborhood (uhf 42),queens,bayside - little neck,50.8,478.0
1,2010-2011,neighborhood (uhf 42),queens,bayside - little neck,404,8.7,82.0,2011-2012,neighborhood (uhf 42),queens,bayside - little neck,57.1,540.0
2,2010-2011,neighborhood (uhf 42),queens,bayside - little neck,404,8.7,82.0,2012-2013,neighborhood (uhf 42),queens,bayside - little neck,58.4,555.0
3,2010-2011,neighborhood (uhf 42),queens,bayside - little neck,404,8.7,82.0,2013-2014,neighborhood (uhf 42),queens,bayside - little neck,59.4,564.0
4,2011-2012,neighborhood (uhf 42),queens,bayside - little neck,404,9.0,85.0,2010-2011,neighborhood (uhf 42),queens,bayside - little neck,50.8,478.0

In [300]:
asthma_G_uhf42['geography'].value_counts().shape

(48,)

In [301]:
asthma_G_uhf42['geography_id'].value_counts().shape

(47,)

In [302]:
asthma_G_uhf42['borough'].value_counts()

brooklyn         44
manhattan        40
queens           40
bronx            28
staten island    16
new york city     0
Name: borough, dtype: int64

In [303]:
asthma_I_uhf42['geography'].value_counts().shape

(48,)

In [304]:
asthma_I_uhf42['geography_id'].value_counts().shape

(47,)

In [305]:
asthma_I_uhf42['borough'].value_counts()

brooklyn         44
manhattan        40
queens           40
bronx            28
staten island    16
new york city     0
Name: borough, dtype: int64

In [306]:
 #geography_id, geography and borough columns correspond as they should so will now also merge those columns too

### MERGE DATASETS M,O,Q by year, geo ID, geography and borough

######FOR NOW WILL NOT BE MERGING BY YEAR

asthma_G_I_uhf42 = asthma_I_uhf42.merge(asthma_G_uhf42, on = ['borough','geography_id',"geography","geo_type_name"])
asthma_G_I_uhf42.head()

,year_x,geo_type_name,borough,geography,geography_id,children_5_14_persistent_estimated_annual_rate_per_1000,children_5_14_persistent_number,year_y,children_5_14_estimated_annual_rate_per_1000,children_5_14_number
0,2010-2011,neighborhood (uhf 42),queens,bayside - little neck,404,8.7,82.0,2010-2011,50.8,478.0
1,2010-2011,neighborhood (uhf 42),queens,bayside - little neck,404,8.7,82.0,2011-2012,57.1,540.0
2,2010-2011,neighborhood (uhf 42),queens,bayside - little neck,404,8.7,82.0,2012-2013,58.4,555.0
3,2010-2011,neighborhood (uhf 42),queens,bayside - little neck,404,8.7,82.0,2013-2014,59.4,564.0
4,2011-2012,neighborhood (uhf 42),queens,bayside - little neck,404,9.0,85.0,2010-2011,50.8,478.0

In [307]:
asthma_H_uhf34 = asthma_H_df[asthma_H_df.geo_type_name == 'neighborhood (uhf 34)']

In [309]:
asthma_H_uhf34['geography_id'].value_counts()

301          13
101          13
303          13
304          13
305307       13
306308       13
309310       13
401          13
402          13
403          13
404406       13
405          13
407          13
408          13
409          13
410          13
501502       13
302          13
503504       13
203          13
103          13
210          13
209          13
208          13
207          13
206          13
102          13
205          13
204          13
211          13
202          13
201          13
105106107    13
104          13
5             0
3             0
2             0
4             0
1             0
Name: geography_id, dtype: int64

In [289]:
asthma_M_df=pd.read_csv('M_Asthma Hospitalizations (Children 5 to 17 Yrs Old).csv')

In [290]:
asthma_M_df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Hospitalizations (Children 5 to 17 Yrs Old) : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Asthma Hospitalizations (Child...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description: Asthma hospitalizations...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Notes: **Estimate is suppressed due to insuffi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Estimated Annual Rate (per 10,000 residents)",Number,Notes Estimated Annual Rate,Notes Number
7,2005,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,35.9,"4,656",NaN,NaN
8,2006,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,35.4,"4,525",NaN,NaN
9,2007,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,33.1,"4,194",NaN,NaN
10,2008,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,31.1,"3,922",NaN,NaN
11,2009,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,33.2,"4,189",NaN,NaN
12,2010,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,28.3,"3,563",NaN,NaN
13,2011,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,29.5,"3,652",NaN,NaN
14,2012,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,32,"3,947",NaN,NaN
15,2013,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,31.5,"3,869",NaN,NaN
16,2014,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,33.5,"4,106",NaN,NaN
17,2015,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,28.9,"3,547",NaN,NaN
18,2016,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,27.2,"3,373",NaN,NaN
19,2005,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,58,"1,594",NaN,NaN

In [291]:
#remove first 5 rows because it has no contribution to dataset
asthma_M_df = asthma_M_df.drop([0,1,2,3,4,5])

In [292]:
#show that columns 8-9 don't have numerical values
asthma_M_df["Unnamed: 8"].drop_duplicates()

6                            Notes Estimated Annual Rate
7                                                    NaN
85     *Estimate is based on small numbers so should ...
303    **Estimate is suppressed due to insufficient d...
Name: Unnamed: 8, dtype: object

In [293]:
#show that columns 8-9 don't have numerical values
asthma_M_df["Unnamed: 9"].drop_duplicates()

6                                          Notes Number
7                                                   NaN
85    **Estimate is suppressed due to insufficient d...
Name: Unnamed: 9, dtype: object

In [11]:
#remove columns 8-9 because its a notes section with NA values
asthma_M_df = asthma_M_df.drop(columns = ['Unnamed: 8','Unnamed: 9'])

In [12]:
#rename columns
asthma_M_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','asthma_hosp_5_14_estimated_annual_rate_per_10000','asthma_hosp_5_14_number']

In [13]:
asthma_M_df.head(20)

,year,geo_type_name,borough,geography,geography_id,indicator_name,asthma_hosp_5_14_estimated_annual_rate_per_10000,asthma_hosp_5_14_number
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Estimated Annual Rate (per 10,000 residents)",Number
7,2005,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,35.9,"4,656"
8,2006,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,35.4,"4,525"
9,2007,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,33.1,"4,194"
10,2008,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,31.1,"3,922"
11,2009,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,33.2,"4,189"
12,2010,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,28.3,"3,563"
13,2011,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,29.5,"3,652"
14,2012,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,32,"3,947"
15,2013,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,31.5,"3,869"
16,2014,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,33.5,"4,106"
17,2015,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,28.9,"3,547"
18,2016,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,27.2,"3,373"
19,2005,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,58,"1,594"
20,2006,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,56.9,"1,542"
21,2007,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,55,"1,476"
22,2008,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,54.5,"1,455"
23,2009,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,58.2,"1,552"
24,2010,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,49.5,"1,311"
25,2011,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,55.2,"1,446"

In [14]:
asthma_M_df = asthma_M_df.drop(columns = ['indicator_name'])

In [15]:
asthma_M_df = asthma_M_df.drop([6])

In [16]:
asthma_M_df=asthma_M_df.reset_index(drop=True)

In [17]:
asthma_M_df.tail(20)

,year,geo_type_name,borough,geography,geography_id,asthma_hosp_5_14_estimated_annual_rate_per_10000,asthma_hosp_5_14_number
570,2011,Neighborhood (UHF 42),Staten Island,Willowbrook,503,7.5,10
571,2012,Neighborhood (UHF 42),Staten Island,Willowbrook,503,6.8,NaN
572,2013,Neighborhood (UHF 42),Staten Island,Willowbrook,503,0.8,NaN
573,2014,Neighborhood (UHF 42),Staten Island,Willowbrook,503,6.1,NaN
574,2015,Neighborhood (UHF 42),Staten Island,Willowbrook,503,5.4,NaN
575,2016,Neighborhood (UHF 42),Staten Island,Willowbrook,503,3.8,NaN
576,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,Name:Asthma Hospitalizations (Children 5 to 17...,Measure:Number,How Calculated:<p>Number of asthma-related hos...,NaN,NaN,NaN,NaN
578,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
579,<p>&nbsp;A hospitalization is included if it h...,NaN,NaN,NaN,NaN,NaN,NaN
580,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN
581,Name:Asthma Hospitalizations (Children 5 to 17...,Measure:Estimated Annual Rate (per 10000 resid...,How Calculated:<p>Number of asthma-related hos...,NaN,NaN,NaN,NaN
582,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
583,<p>&nbsp;A hospitalization is included if it h...,NaN,NaN,NaN,NaN,NaN,NaN
584,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN
585,NaN,NaN,NaN,NaN,NaN,NaN,NaN
586,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN
587,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN
588,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN
589,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#remove rows 576-589 because they have no contribution to dataset
asthma_M_df = asthma_M_df.drop([576,577,578,579,580,581,582,583,584,585,586,587,588,589])

In [19]:
asthma_M_df["geo_type_name"]=  asthma_M_df["geo_type_name"].str.lower() 
asthma_M_df["borough"]=  asthma_M_df["borough"].str.lower() 
asthma_M_df["geography"]=  asthma_M_df["geography"].str.lower()

In [20]:
#remove commas from all values 
asthma_M_df = asthma_M_df.replace(',','', regex=True)

In [21]:
asthma_M_df.dtypes

year                                                object
geo_type_name                                       object
borough                                             object
geography                                           object
geography_id                                        object
asthma_hosp_5_14_estimated_annual_rate_per_10000    object
asthma_hosp_5_14_number                             object
dtype: object

In [22]:
#changing to correct datatype
asthma_M_df.year = asthma_M_df.year.astype('category')
asthma_M_df.geo_type_name = asthma_M_df.geo_type_name.astype('category')
asthma_M_df.borough = asthma_M_df.borough.astype('category')
asthma_M_df.geography = asthma_M_df.geography.astype('category')
asthma_M_df.geography_id = asthma_M_df.geography_id.astype('category')

asthma_M_df.asthma_hosp_5_14_estimated_annual_rate_per_10000 = asthma_M_df.asthma_hosp_5_14_estimated_annual_rate_per_10000.astype('float')
asthma_M_df.asthma_hosp_5_14_number = asthma_M_df.asthma_hosp_5_14_number.astype('float')

In [23]:
asthma_M_df.dtypes

year                                                category
geo_type_name                                       category
borough                                             category
geography                                           category
geography_id                                        category
asthma_hosp_5_14_estimated_annual_rate_per_10000     float64
asthma_hosp_5_14_number                              float64
dtype: object

In [24]:
asthma_M_df.head(10)

,year,geo_type_name,borough,geography,geography_id,asthma_hosp_5_14_estimated_annual_rate_per_10000,asthma_hosp_5_14_number
0,2005,citywide,new york city,new york city,1,35.9,4656.0
1,2006,citywide,new york city,new york city,1,35.4,4525.0
2,2007,citywide,new york city,new york city,1,33.1,4194.0
3,2008,citywide,new york city,new york city,1,31.1,3922.0
4,2009,citywide,new york city,new york city,1,33.2,4189.0
5,2010,citywide,new york city,new york city,1,28.3,3563.0
6,2011,citywide,new york city,new york city,1,29.5,3652.0
7,2012,citywide,new york city,new york city,1,32.0,3947.0
8,2013,citywide,new york city,new york city,1,31.5,3869.0
9,2014,citywide,new york city,new york city,1,33.5,4106.0

In [25]:
#export clean dataset
asthma_M_df.to_csv("M_clean.csv", encoding="utf-8")

In [26]:
########## MERGING
asthma_M_df['year'].value_counts()

2005    48
2006    48
2007    48
2008    48
2009    48
2010    48
2011    48
2012    48
2013    48
2014    48
2015    48
2016    48
Name: year, dtype: int64

In [27]:
asthma_M_df['geo_type_name'].value_counts()

neighborhood (uhf 42)    504
borough                   60
citywide                  12
Name: geo_type_name, dtype: int64

In [28]:
asthma_M_uhf42 = asthma_M_df[asthma_M_df.geo_type_name == 'neighborhood (uhf 42)']

In [29]:
asthma_M_uhf42.head()

,year,geo_type_name,borough,geography,geography_id,asthma_hosp_5_14_estimated_annual_rate_per_10000,asthma_hosp_5_14_number
72,2005,neighborhood (uhf 42),queens,bayside - little neck,404,13.1,16.0
73,2006,neighborhood (uhf 42),queens,bayside - little neck,404,14.0,17.0
74,2007,neighborhood (uhf 42),queens,bayside - little neck,404,11.5,14.0
75,2008,neighborhood (uhf 42),queens,bayside - little neck,404,8.1,10.0
76,2009,neighborhood (uhf 42),queens,bayside - little neck,404,11.9,15.0

In [523]:
asthma_M_uhf42.shape

(504, 7)

In [518]:
asthma_M_uhf42.isnull().values.any()

True

In [519]:
#np.where(asthma_M_uhf42.applymap(lambda x: x == ''))

(array([], dtype=int64), array([], dtype=int64))

In [129]:
asthma_N_df=pd.read_csv('N_Asthma Hospitalizations (Children 5 to 17 Yrs Old) by NTA.csv')

In [130]:
asthma_N_df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Hospitalizations (Children 5 to 17 Yrs Old) by NTA : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Asthma Hospitalizations (Child...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Notes: *Estimate is based on small numbers so ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,Average Annual Number,"Average Annual Rate (per 10,000 residents)",Notes Average Annual Number,Notes Average Annual Rate
7,2014-2016,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,"3,668",29.9,NaN,NaN
8,2014-2016,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,"1,501",58.3,NaN,NaN
9,2014-2016,Borough,Brooklyn,Brooklyn,2,Asthma Hospitalizations (Children 5 to 17 Yrs ...,"1,045",25.5,NaN,NaN

In [131]:
#remove first 5 rows because it has no contribution to dataset
asthma_N_df = asthma_N_df.drop([0,1,2,3,4,5])

In [132]:
#show that columns 8-9 don't have numerical values
asthma_N_df["Unnamed: 8"].drop_duplicates()

6                           Notes Average Annual Number
7                                                   NaN
14    < 4Estimate is based on small numbers so shoul...
Name: Unnamed: 8, dtype: object

In [133]:
#show that columns 8-9 don't have numerical values
asthma_N_df["Unnamed: 9"].drop_duplicates()

6                             Notes Average Annual Rate
7                                                   NaN
14    *Estimate is based on small numbers so should ...
Name: Unnamed: 9, dtype: object

In [134]:
#remove columns 9-11 because its a notes section with NA values
asthma_N_df = asthma_N_df.drop(columns = ['Unnamed: 8','Unnamed: 9'])

In [135]:
#rename columns
asthma_N_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','asthma_hosp_5_14_nta_number', 'asthma_hosp_5_14_nta_estimated_annual_rate_per_10000']

In [99]:
asthma_N_df.head(10)

,year,geo_type_name,borough,geography,geography_id,indicator_name,asthma_hosp_5_14_nta_number,asthma_hosp_5_14_nta_estimated_annual_rate_per_10000
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,Average Annual Number,"Average Annual Rate (per 10,000 residents)"
7,2014-2016,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,"3,668",29.9
8,2014-2016,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Children 5 to 17 Yrs ...,"1,501",58.3
9,2014-2016,Borough,Brooklyn,Brooklyn,2,Asthma Hospitalizations (Children 5 to 17 Yrs ...,"1,045",25.5
10,2014-2016,Borough,Manhattan,Manhattan,3,Asthma Hospitalizations (Children 5 to 17 Yrs ...,448,28.7
11,2014-2016,Borough,Queens,Queens,4,Asthma Hospitalizations (Children 5 to 17 Yrs ...,569,17.5
12,2014-2016,Borough,Staten Island,Staten Island,5,Asthma Hospitalizations (Children 5 to 17 Yrs ...,105,13.5
13,2014-2016,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,Asthma Hospitalizations (Children 5 to 17 Yrs ...,9,18.3
14,2014-2016,Neighborhood (NTA),Staten Island,Annadale-Huguenot-Prince's Bay-Eltingville,8501,Asthma Hospitalizations (Children 5 to 17 Yrs ...,NaN,2.9
15,2014-2016,Neighborhood (NTA),Staten Island,Arden Heights,8548,Asthma Hospitalizations (Children 5 to 17 Yrs ...,NaN,2.3

In [136]:
asthma_N_df = asthma_N_df.drop(columns = ['indicator_name'])

In [137]:
asthma_N_df = asthma_N_df.drop([6])

In [138]:
asthma_N_df=asthma_N_df.reset_index(drop=True)

In [139]:
asthma_N_df.tail(20)

,year,geo_type_name,borough,geography,geography_id,asthma_hosp_5_14_nta_number,asthma_hosp_5_14_nta_estimated_annual_rate_per_10000
188,2014-2016,Neighborhood (NTA),Brooklyn,Williamsburg,4772,4,4
189,2014-2016,Neighborhood (NTA),Brooklyn,Windsor Terrace,4740,NaN,5.1
190,2014-2016,Neighborhood (NTA),Queens,Woodhaven,8153,24,22.6
191,2014-2016,Neighborhood (NTA),Bronx,Woodlawn-Wakefield,562,26,37.7
192,2014-2016,Neighborhood (NTA),Queens,Woodside,8163,6,10.2
193,2014-2016,Neighborhood (NTA),Manhattan,Yorkville,6132,12,17.8
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Name:Asthma Hospitalizations (Children 5 to 17...,Measure:Average Annual Number,How Calculated:<p>Average annual number of ast...,NaN,NaN,NaN,NaN
196,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
197,<p>&nbsp;A hospitalization is included if it h...,NaN,NaN,NaN,NaN,NaN,NaN
198,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2014-2016,NaN,NaN,NaN,NaN
199,Name:Asthma Hospitalizations (Children 5 to 17...,Measure:Average Annual Rate (per 10000 residents),How Calculated:<p>Average annual number of ast...,NaN,NaN,NaN,NaN
200,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
201,<p>&nbsp;A hospitalization is included if it h...,NaN,NaN,NaN,NaN,NaN,NaN
202,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2014-2016,NaN,NaN,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN
205,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN
206,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN
207,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
#remove rows 194-207 because they have no contribution to dataset
asthma_N_df = asthma_N_df.drop([194,195,196,197,198,199,200,201,202,203,204,205,206,207])

In [141]:
asthma_N_df["geo_type_name"]=  asthma_N_df["geo_type_name"].str.lower() 
asthma_N_df["borough"]=  asthma_N_df["borough"].str.lower() 
asthma_N_df["geography"]=  asthma_N_df["geography"].str.lower()

In [142]:
#remove commas from all values 
asthma_N_df = asthma_N_df.replace(',','', regex=True)

In [143]:
asthma_N_df.dtypes

year                                                    object
geo_type_name                                           object
borough                                                 object
geography                                               object
geography_id                                            object
asthma_hosp_5_14_nta_number                             object
asthma_hosp_5_14_nta_estimated_annual_rate_per_10000    object
dtype: object

In [144]:
#changing to correct datatype
asthma_N_df.year = asthma_N_df.year.astype('category')
asthma_N_df.geo_type_name = asthma_N_df.geo_type_name.astype('category')
asthma_N_df.borough = asthma_N_df.borough.astype('category')
asthma_N_df.geography = asthma_N_df.geography.astype('category')
asthma_N_df.geography_id = asthma_N_df.geography_id.astype('category')

asthma_N_df.asthma_hosp_5_14_nta_number = asthma_N_df.asthma_hosp_5_14_nta_number.astype('float')
asthma_N_df.asthma_hosp_5_14_nta_estimated_annual_rate_per_10000 = asthma_N_df.asthma_hosp_5_14_nta_estimated_annual_rate_per_10000.astype('float')

In [145]:
asthma_N_df.dtypes

year                                                    category
geo_type_name                                           category
borough                                                 category
geography                                               category
geography_id                                            category
asthma_hosp_5_14_nta_number                              float64
asthma_hosp_5_14_nta_estimated_annual_rate_per_10000     float64
dtype: object

In [146]:
#export clean dataset
asthma_N_df.to_csv("N_clean.csv", encoding="utf-8")

In [464]:
########## MERGING
asthma_N_df['year'].value_counts()

2014-2016    194
Name: year, dtype: int64

In [465]:
asthma_N_df['geo_type_name'].value_counts()

neighborhood (nta)    188
borough                 5
citywide                1
Name: geo_type_name, dtype: int64

In [30]:
asthma_O_df=pd.read_csv('O_Asthma Hospitalizations (Children 0 to 4 Yrs Old).csv')

In [31]:
asthma_O_df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Hospitalizations (Children 0 to 4 Yrs Old) : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Asthma Hospitalizations (Child...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description: Asthma hospitalizations...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Notes: **Estimate is suppressed due to insuffi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Estimated Annual Rate (per 10,000 residents)",Number,Notes Estimated Annual Rate,Notes Number
7,2000,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),NaN,"5,727",NaN,NaN
8,2002,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),112.1,"5,982",NaN,NaN
9,2003,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),124.1,"6,591",NaN,NaN
10,2004,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),109.5,"5,823",NaN,NaN
11,2005,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),95.1,"5,027",NaN,NaN
12,2006,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),99.3,"5,164",NaN,NaN
13,2007,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),89.8,"4,665",NaN,NaN
14,2008,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),92.3,"4,819",NaN,NaN
15,2009,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),96.5,"5,041",NaN,NaN
16,2010,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),82.6,"4,302",NaN,NaN
17,2011,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),76.1,"4,073",NaN,NaN
18,2012,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),75.6,"4,120",NaN,NaN
19,2013,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),69.4,"3,869",NaN,NaN

In [32]:
#remove first 5 rows because it has no contribution to dataset
asthma_O_df = asthma_O_df.drop([0,1,2,3,4,5])

In [33]:
#show that columns 8-9 don't have numerical values
asthma_O_df["Unnamed: 8"].drop_duplicates()

6                            Notes Estimated Annual Rate
7                                                    NaN
106    *Estimate is based on small numbers so should ...
376    **Estimate is suppressed due to insufficient d...
Name: Unnamed: 8, dtype: object

In [34]:
#show that columns 8-9 don't have numerical values
asthma_O_df["Unnamed: 9"].drop_duplicates()

6                                           Notes Number
7                                                    NaN
106    *Estimate is based on small numbers so should ...
376    **Estimate is suppressed due to insufficient d...
Name: Unnamed: 9, dtype: object

In [35]:
#remove columns 9-11 because its a notes section with NA values
asthma_O_df = asthma_O_df.drop(columns = ['Unnamed: 8','Unnamed: 9'])

In [36]:
#rename columns
asthma_O_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','asthma_hosp_0_4_estimated_annual_rate_per_10000','asthma_hosp_0_4_number']

In [37]:
asthma_O_df.head(10)

,year,geo_type_name,borough,geography,geography_id,indicator_name,asthma_hosp_0_4_estimated_annual_rate_per_10000,asthma_hosp_0_4_number
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Estimated Annual Rate (per 10,000 residents)",Number
7,2000,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),NaN,"5,727"
8,2002,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),112.1,"5,982"
9,2003,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),124.1,"6,591"
10,2004,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),109.5,"5,823"
11,2005,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),95.1,"5,027"
12,2006,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),99.3,"5,164"
13,2007,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),89.8,"4,665"
14,2008,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),92.3,"4,819"
15,2009,Citywide,New York City,New York City,1,Asthma Hospitalizations (Children 0 to 4 Yrs Old),96.5,"5,041"

In [38]:
asthma_O_df = asthma_O_df.drop(columns = ['indicator_name'])

In [39]:
asthma_O_df = asthma_O_df.drop([6])

In [40]:
asthma_O_df=asthma_O_df.reset_index(drop=True)

In [41]:
asthma_O_df.tail(20)

,year,geo_type_name,borough,geography,geography_id,asthma_hosp_0_4_estimated_annual_rate_per_10000,asthma_hosp_0_4_number
720,2011,Neighborhood (UHF 42),Staten Island,Willowbrook,503,16.4,8
721,2012,Neighborhood (UHF 42),Staten Island,Willowbrook,503,29.1,14
722,2013,Neighborhood (UHF 42),Staten Island,Willowbrook,503,25.4,12
723,2014,Neighborhood (UHF 42),Staten Island,Willowbrook,503,23.4,11
724,2015,Neighborhood (UHF 42),Staten Island,Willowbrook,503,25.5,12
725,2016,Neighborhood (UHF 42),Staten Island,Willowbrook,503,25.7,12
726,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727,Name:Asthma Hospitalizations (Children 0 to 4 ...,Measure:Number,How Calculated:<p>Number of asthma-related hos...,NaN,NaN,NaN,NaN
728,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
729,<p>A hospitalization is included if it has an ...,NaN,NaN,NaN,NaN,NaN,NaN
730,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2000 2002 2003 2004 2005 2006 2007 2008 2...,NaN,NaN,NaN,NaN
731,Name:Asthma Hospitalizations (Children 0 to 4 ...,Measure:Estimated Annual Rate (per 10000 resid...,How Calculated:<p>Number of asthma-related hos...,NaN,NaN,NaN,NaN
732,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
733,<p>A hospitalization is included if it has an ...,NaN,NaN,NaN,NaN,NaN,NaN
734,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2000 2002 2003 2004 2005 2006 2007 2008 2...,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN,NaN
736,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN
737,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN
738,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN
739,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
#remove rows 726-739 because they have no contribution to dataset
asthma_O_df = asthma_O_df.drop([726,727,728,729,730,731,732,733,734,735,736,737,738,739])

In [43]:
asthma_O_df["geo_type_name"]=  asthma_O_df["geo_type_name"].str.lower() 
asthma_O_df["borough"]=  asthma_O_df["borough"].str.lower() 
asthma_O_df["geography"]=  asthma_O_df["geography"].str.lower()

In [44]:
#remove commas from all values 
asthma_O_df = asthma_O_df.replace(',','', regex=True)

In [45]:
asthma_O_df.dtypes

year                                               object
geo_type_name                                      object
borough                                            object
geography                                          object
geography_id                                       object
asthma_hosp_0_4_estimated_annual_rate_per_10000    object
asthma_hosp_0_4_number                             object
dtype: object

In [46]:
#changing to correct datatype
asthma_O_df.year = asthma_O_df.year.astype('category')
asthma_O_df.geo_type_name = asthma_O_df.geo_type_name.astype('category')
asthma_O_df.borough = asthma_O_df.borough.astype('category')
asthma_O_df.geography = asthma_O_df.geography.astype('category')
asthma_O_df.geography_id = asthma_O_df.geography_id.astype('category')
asthma_O_df.asthma_hosp_0_4_estimated_annual_rate_per_10000 = asthma_O_df.asthma_hosp_0_4_estimated_annual_rate_per_10000.astype('float')
asthma_O_df.asthma_hosp_0_4_number = asthma_O_df.asthma_hosp_0_4_number.astype('float')

In [47]:
asthma_O_df.dtypes

year                                               category
geo_type_name                                      category
borough                                            category
geography                                          category
geography_id                                       category
asthma_hosp_0_4_estimated_annual_rate_per_10000     float64
asthma_hosp_0_4_number                              float64
dtype: object

In [48]:
#export clean dataset
asthma_O_df.to_csv("O_clean.csv", encoding="utf-8")

In [50]:
########## MERGING
asthma_O_df['year'].value_counts()

2002    48
2003    48
2004    48
2005    48
2006    48
2007    48
2008    48
2009    48
2010    48
2011    48
2012    48
2013    48
2014    48
2015    48
2016    48
2000     6
Name: year, dtype: int64

In [51]:

asthma_O_df['geo_type_name'].value_counts()

neighborhood (uhf 42)    630
borough                   80
citywide                  16
Name: geo_type_name, dtype: int64

In [52]:
asthma_O_uhf42 = asthma_O_df[asthma_O_df.geo_type_name == 'neighborhood (uhf 42)']

In [525]:
asthma_O_uhf42.shape

(630, 7)

In [526]:
asthma_O_uhf42.isnull().values.any()

True

In [203]:
asthma_P_df=pd.read_csv('P_Asthma Hospitalizations (Adults) by NTA.csv')

In [204]:
asthma_P_df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Hospitalizations (Adults) by NTA : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Asthma Hospitalizations (Adult...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Average Annual Age-Adjusted Rate (per 10,000 r...",Average Annual Number,"Average Annual Rate (per 10,000 residents)",Notes Average Annual Age-Adjusted Rate,Notes Average Annual Number,Notes Average Annual Rate
6,2012-2014,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults) by NTA,23.2,"15,452",23.1,NaN,NaN,NaN
7,2012-2014,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Adults) by NTA,46.8,"4,907",45.8,NaN,NaN,NaN
8,2012-2014,Borough,Brooklyn,Brooklyn,2,Asthma Hospitalizations (Adults) by NTA,24.4,"4,794",23.9,NaN,NaN,NaN
9,2012-2014,Borough,Manhattan,Manhattan,3,Asthma Hospitalizations (Adults) by NTA,18.6,"2,502",17.9,NaN,NaN,NaN
10,2012-2014,Borough,Queens,Queens,4,Asthma Hospitalizations (Adults) by NTA,13.5,"2,557",13.9,NaN,NaN,NaN
11,2012-2014,Borough,Staten Island,Staten Island,5,Asthma Hospitalizations (Adults) by NTA,17.8,692,18.8,NaN,NaN,NaN
12,2012-2014,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,Asthma Hospitalizations (Adults) by NTA,21,64,24.1,NaN,NaN,NaN
13,2012-2014,Neighborhood (NTA),Staten Island,Annadale-Huguenot-Prince's Bay-Eltingville,8501,Asthma Hospitalizations (Adults) by NTA,8.4,21,9.1,NaN,NaN,NaN
14,2012-2014,Neighborhood (NTA),Staten Island,Arden Heights,8548,Asthma Hospitalizations (Adults) by NTA,15.7,32,15.5,NaN,NaN,NaN
15,2012-2014,Neighborhood (NTA),Queens,Astoria,8170,Asthma Hospitalizations (Adults) by NTA,15.9,91,13.8,NaN,NaN,NaN
16,2012-2014,Neighborhood (NTA),Queens,Auburndale,8148,Asthma Hospitalizations (Adults) by NTA,4.3,9,5.3,NaN,NaN,NaN
17,2012-2014,Neighborhood (NTA),Queens,Baisley Park,8176,Asthma Hospitalizations (Adults) by NTA,20.4,60,20.6,NaN,NaN,NaN
18,2012-2014,Neighborhood (NTA),Brooklyn,Bath Beach,4727,Asthma Hospitalizations (Adults) by NTA,7.7,22,8.4,NaN,NaN,NaN
19,2012-2014,Neighborhood (NTA),Manhattan,Battery Park City-Lower Manhattan,6125,Asthma Hospitalizations (Adults) by NTA,5.7,12,3,NaN,NaN,NaN

In [205]:
#remove first 4 rows because it has no contribution to dataset
asthma_P_df = asthma_P_df.drop([0,1,2,3,4])

In [206]:
#show that columns 9-11 don't have numerical values
asthma_P_df["Unnamed: 9"].drop_duplicates()

5    Notes Average Annual Age-Adjusted Rate
6                                       NaN
Name: Unnamed: 9, dtype: object

In [207]:
#show that columns 9-11 don't have numerical values
asthma_P_df["Unnamed: 10"].drop_duplicates()

5    Notes Average Annual Number
6                            NaN
Name: Unnamed: 10, dtype: object

In [208]:
#show that columns 9-11 don't have numerical values
asthma_P_df["Unnamed: 11"].drop_duplicates()

5    Notes Average Annual Rate
6                          NaN
Name: Unnamed: 11, dtype: object

In [209]:
#remove columns 9-11 because its a notes section with NA values
asthma_P_df = asthma_P_df.drop(columns = ['Unnamed: 9','Unnamed: 10','Unnamed: 11'])

In [210]:
#rename columns
asthma_P_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','asthma_hosp_adult_nta_estimated_age_adjusted_rate_per10k','asthma_hosp_adult_nta_number', 'asthma_hosp_adult_nta_estimated_rate_per10k']

In [211]:
asthma_P_df = asthma_P_df.drop(columns = ['indicator_name'])

In [212]:
asthma_P_df.head(10)

,year,geo_type_name,borough,geography,geography_id,asthma_hosp_adult_nta_estimated_age_adjusted_rate_per10k,asthma_hosp_adult_nta_number,asthma_hosp_adult_nta_estimated_rate_per10k
5,Year,GeoTypeName,Borough,Geography,Geography ID,"Average Annual Age-Adjusted Rate (per 10,000 r...",Average Annual Number,"Average Annual Rate (per 10,000 residents)"
6,2012-2014,Citywide,New York City,New York City,1,23.2,"15,452",23.1
7,2012-2014,Borough,Bronx,Bronx,1,46.8,"4,907",45.8
8,2012-2014,Borough,Brooklyn,Brooklyn,2,24.4,"4,794",23.9
9,2012-2014,Borough,Manhattan,Manhattan,3,18.6,"2,502",17.9
10,2012-2014,Borough,Queens,Queens,4,13.5,"2,557",13.9
11,2012-2014,Borough,Staten Island,Staten Island,5,17.8,692,18.8
12,2012-2014,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,21,64,24.1
13,2012-2014,Neighborhood (NTA),Staten Island,Annadale-Huguenot-Prince's Bay-Eltingville,8501,8.4,21,9.1
14,2012-2014,Neighborhood (NTA),Staten Island,Arden Heights,8548,15.7,32,15.5

In [213]:
asthma_P_df = asthma_P_df.drop([5])

In [214]:
asthma_P_df=asthma_P_df.reset_index(drop=True)

In [215]:
asthma_P_df.tail(20)

,year,geo_type_name,borough,geography,geography_id,asthma_hosp_adult_nta_estimated_age_adjusted_rate_per10k,asthma_hosp_adult_nta_number,asthma_hosp_adult_nta_estimated_rate_per10k
192,2012-2014,Neighborhood (NTA),Queens,Woodside,8163,10.6,40,10.4
193,2012-2014,Neighborhood (NTA),Manhattan,Yorkville,6132,6.7,45,6.4
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Name:Asthma Hospitalizations (Adults) by NTA,Measure:Average Annual Number,How Calculated:<p>Average annual number of ast...,NaN,NaN,NaN,NaN,NaN
196,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2012-2014,NaN,NaN,NaN,NaN,NaN
199,Name:Asthma Hospitalizations (Adults) by NTA,Measure:Average Annual Rate (per 10000 residents),How Calculated:<p>Average annual number of ast...,NaN,NaN,NaN,NaN,NaN
200,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2012-2014,NaN,NaN,NaN,NaN,NaN
203,Name:Asthma Hospitalizations (Adults) by NTA,Measure:Average Annual Age-Adjusted Rate (per ...,How Calculated:<p>Average annual number of ast...,NaN,NaN,NaN,NaN,NaN
204,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2012-2014,NaN,NaN,NaN,NaN,NaN
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
#remove rows 194-211 because they have no contribution to dataset
asthma_P_df = asthma_P_df.drop([194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211])

In [217]:
asthma_P_df["geo_type_name"]=  asthma_P_df["geo_type_name"].str.lower() 
asthma_P_df["borough"]=  asthma_P_df["borough"].str.lower() 
asthma_P_df["geography"]=  asthma_P_df["geography"].str.lower()

In [218]:
#remove commas from all values 
asthma_P_df = asthma_P_df.replace(',','', regex=True)

In [219]:
asthma_P_df.dtypes

year                                                        object
geo_type_name                                               object
borough                                                     object
geography                                                   object
geography_id                                                object
asthma_hosp_adult_nta_estimated_age_adjusted_rate_per10k    object
asthma_hosp_adult_nta_number                                object
asthma_hosp_adult_nta_estimated_rate_per10k                 object
dtype: object

In [220]:
#changing to correct datatype
asthma_P_df.year = asthma_P_df.year.astype('category')
asthma_P_df.geo_type_name = asthma_P_df.geo_type_name.astype('category')
asthma_P_df.borough = asthma_P_df.borough.astype('category')
asthma_P_df.geography = asthma_P_df.geography.astype('category')
asthma_P_df.geography_id = asthma_P_df.geography_id.astype('category')
asthma_P_df.asthma_hosp_adult_nta_estimated_age_adjusted_rate_per10k = asthma_P_df.asthma_hosp_adult_nta_estimated_age_adjusted_rate_per10k.astype('float')
asthma_P_df.asthma_hosp_adult_nta_number = asthma_P_df.asthma_hosp_adult_nta_number.astype('float')
asthma_P_df.asthma_hosp_adult_nta_estimated_rate_per10k  = asthma_P_df.asthma_hosp_adult_nta_estimated_rate_per10k.astype('float')

In [221]:
asthma_P_df.dtypes

year                                                        category
geo_type_name                                               category
borough                                                     category
geography                                                   category
geography_id                                                category
asthma_hosp_adult_nta_estimated_age_adjusted_rate_per10k     float64
asthma_hosp_adult_nta_number                                 float64
asthma_hosp_adult_nta_estimated_rate_per10k                  float64
dtype: object

In [222]:
#export clean dataset
asthma_P_df.to_csv("P_clean.csv", encoding="utf-8")

In [468]:
########## MERGING
asthma_P_df['year'].value_counts()

2012-2014    194
Name: year, dtype: int64

In [469]:
asthma_P_df['geo_type_name'].value_counts()

neighborhood (nta)    188
borough                 5
citywide                1
Name: geo_type_name, dtype: int64

In [53]:
asthma_Q_df=pd.read_csv('Q_Asthma Hospitalizations (Adults).csv')

In [54]:
asthma_Q_df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Hospitalizations (Adults) : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Asthma Hospitalizations (Adults),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description: Asthma hospitalizations...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Notes: **Estimate is suppressed due to insuffi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Age-Adjusted Rate (per 10,000 residents)","Estimated Annual Rate (per 10,000 residents)",Number,Notes Age-Adjusted Rate,Notes Estimated Annual Rate,Notes Number
7,2005,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),26.7,26.5,"16,480",NaN,NaN,NaN
8,2006,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),27.2,27.1,"16,887",NaN,NaN,NaN
9,2007,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),27.3,27.1,"17,003",NaN,NaN,NaN
10,2008,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),28.6,28.5,"18,036",NaN,NaN,NaN
11,2009,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),29.6,29.5,"18,878",NaN,NaN,NaN
12,2010,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),27,26.9,"17,423",NaN,NaN,NaN
13,2011,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),26,26,"16,904",NaN,NaN,NaN
14,2012,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),24.9,25,"16,422",NaN,NaN,NaN
15,2013,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),23,23.1,"15,331",NaN,NaN,NaN
16,2014,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),21.7,21.8,"14,603",NaN,NaN,NaN
17,2015,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),NaN,NaN,NaN,"<strong style=""color: red;"">Data from 2015 a...","<strong style=""color: red;"">Data from 2015 a...","<strong style=""color: red;"">Data from 2015 a..."
18,2016,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),11.1,11.1,"7,525",NaN,NaN,NaN
19,2005,Borough,Bronx,Bronx,1,Asthma Hospitalizations (Adults),53.9,52.8,"5,130",NaN,NaN,NaN

In [55]:
#remove first 5 rows because it has no contribution to dataset
asthma_Q_df = asthma_Q_df.drop([0,1,2,3,4,5])

In [56]:
#show that columns 9-11 don't have numerical values
asthma_Q_df["Unnamed: 9"].drop_duplicates()

6                                Notes Age-Adjusted Rate
7                                                    NaN
17      <strong style="color: red;">Data from 2015 a...
282    *Estimate is based on small numbers so should ...
Name: Unnamed: 9, dtype: object

In [57]:
#show that columns 9-11 don't have numerical values
asthma_Q_df["Unnamed: 10"].drop_duplicates()

6                            Notes Estimated Annual Rate
7                                                    NaN
17      <strong style="color: red;">Data from 2015 a...
282    *Estimate is based on small numbers so should ...
Name: Unnamed: 10, dtype: object

In [58]:
#show that columns 9-11 don't have numerical values
asthma_Q_df["Unnamed: 11"].drop_duplicates()

6                                           Notes Number
7                                                    NaN
17      <strong style="color: red;">Data from 2015 a...
282    **Estimate is suppressed due to insufficient d...
Name: Unnamed: 11, dtype: object

In [59]:
#remove columns 9-11 because its a notes section with NA values
asthma_Q_df = asthma_Q_df.drop(columns = ['Unnamed: 9','Unnamed: 10','Unnamed: 11'])

In [60]:
#rename columns
asthma_Q_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','asthma_hosp_adult_estimated__age_adjusted_rate_per10k', 'asthma_hosp_adult_estimated__rate_per10k','asthma_hosp_adult_number']

In [61]:
asthma_Q_df.head(10)

,year,geo_type_name,borough,geography,geography_id,indicator_name,asthma_hosp_adult_estimated__age_adjusted_rate_per10k,asthma_hosp_adult_estimated__rate_per10k,asthma_hosp_adult_number
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Age-Adjusted Rate (per 10,000 residents)","Estimated Annual Rate (per 10,000 residents)",Number
7,2005,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),26.7,26.5,"16,480"
8,2006,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),27.2,27.1,"16,887"
9,2007,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),27.3,27.1,"17,003"
10,2008,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),28.6,28.5,"18,036"
11,2009,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),29.6,29.5,"18,878"
12,2010,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),27,26.9,"17,423"
13,2011,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),26,26,"16,904"
14,2012,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),24.9,25,"16,422"
15,2013,Citywide,New York City,New York City,1,Asthma Hospitalizations (Adults),23,23.1,"15,331"

In [62]:
asthma_Q_df = asthma_Q_df.drop(columns = ['indicator_name'])

In [63]:
asthma_Q_df = asthma_Q_df.drop([6])

In [64]:
asthma_Q_df=asthma_Q_df.reset_index(drop=True)

In [65]:
asthma_Q_df.tail(20)

,year,geo_type_name,borough,geography,geography_id,asthma_hosp_adult_estimated__age_adjusted_rate_per10k,asthma_hosp_adult_estimated__rate_per10k,asthma_hosp_adult_number
527,2014,Neighborhood (UHF 42),Staten Island,Willowbrook,503,10.5,11.3,79
528,2016,Neighborhood (UHF 42),Staten Island,Willowbrook,503,7,7.4,52
529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,Name:Asthma Hospitalizations (Adults),Measure:Number,How Calculated:<p>Number of asthma-related hos...,NaN,NaN,NaN,NaN,NaN
531,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,<p>A hospitalization is included if it has an ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN,NaN
534,Name:Asthma Hospitalizations (Adults),Measure:Age-Adjusted Rate (per 10000 residents),How Calculated:<p>Number of asthma-related hos...,NaN,NaN,NaN,NaN,NaN
535,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,<p>A hospitalization is included if it has an ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN,NaN
538,Name:Asthma Hospitalizations (Adults),Measure:Estimated Annual Rate (per 10000 resid...,How Calculated:<p>Number of asthma-related hos...,NaN,NaN,NaN,NaN,NaN
539,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540,<p>A hospitalization is included if it has an ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN,NaN
542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
#remove rows 529-546 because they have no contribution to dataset
asthma_Q_df = asthma_Q_df.drop([529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546])

In [67]:
asthma_Q_df["geo_type_name"]=  asthma_Q_df["geo_type_name"].str.lower() 
asthma_Q_df["borough"]=  asthma_Q_df["borough"].str.lower() 
asthma_Q_df["geography"]=  asthma_Q_df["geography"].str.lower()

In [68]:
#remove commas from all values 
asthma_Q_df = asthma_Q_df.replace(',','', regex=True)

In [69]:
asthma_Q_df.dtypes

year                                                     object
geo_type_name                                            object
borough                                                  object
geography                                                object
geography_id                                             object
asthma_hosp_adult_estimated__age_adjusted_rate_per10k    object
asthma_hosp_adult_estimated__rate_per10k                 object
asthma_hosp_adult_number                                 object
dtype: object

In [70]:
#changing to correct datatype
asthma_Q_df.year = asthma_Q_df.year.astype('category')
asthma_Q_df.geo_type_name = asthma_Q_df.geo_type_name.astype('category')
asthma_Q_df.borough = asthma_Q_df.borough.astype('category')
asthma_Q_df.geography = asthma_Q_df.geography.astype('category')
asthma_Q_df.geography_id = asthma_Q_df.geography_id.astype('category')

asthma_Q_df.asthma_hosp_adult_estimated__age_adjusted_rate_per10k = asthma_Q_df.asthma_hosp_adult_estimated__age_adjusted_rate_per10k.astype('float')
asthma_Q_df.asthma_hosp_adult_estimated__rate_per10k = asthma_Q_df.asthma_hosp_adult_estimated__rate_per10k.astype('float')
asthma_Q_df.asthma_hosp_adult_number  = asthma_Q_df.asthma_hosp_adult_number.astype('float')

In [71]:
asthma_Q_df.dtypes

year                                                     category
geo_type_name                                            category
borough                                                  category
geography                                                category
geography_id                                             category
asthma_hosp_adult_estimated__age_adjusted_rate_per10k     float64
asthma_hosp_adult_estimated__rate_per10k                  float64
asthma_hosp_adult_number                                  float64
dtype: object

In [72]:
#export clean dataset
asthma_Q_df.to_csv("Q_clean.csv", encoding="utf-8")

In [73]:
########## MERGING
asthma_Q_df['year'].value_counts()

2005    48
2006    48
2007    48
2008    48
2009    48
2010    48
2011    48
2012    48
2013    48
2014    48
2016    48
2015     1
Name: year, dtype: int64

In [74]:
asthma_Q_df['geo_type_name'].value_counts()

neighborhood (uhf 42)    462
borough                   55
citywide                  12
Name: geo_type_name, dtype: int64

In [78]:
asthma_Q_uhf42 = asthma_Q_df[asthma_Q_df.geo_type_name == 'neighborhood (uhf 42)']

In [79]:
asthma_Q_uhf42.shape

(462, 8)

In [81]:
### MERGE DATASETS M,O,Q by year and geo ID
asthma_M_O_uhf42 = asthma_M_uhf42.merge(asthma_O_uhf42, on = ['year','geography_id'])
asthma_M_O_Q_uhf42 = asthma_M_O_uhf42.merge(asthma_Q_uhf42, on = ['year','geography_id'])
asthma_M_O_Q_uhf42.head()

,year,geo_type_name_x,borough_x,geography_x,geography_id,asthma_hosp_5_14_estimated_annual_rate_per_10000,asthma_hosp_5_14_number,geo_type_name_y,borough_y,geography_y,asthma_hosp_0_4_estimated_annual_rate_per_10000,asthma_hosp_0_4_number,geo_type_name,borough,geography,asthma_hosp_adult_estimated__age_adjusted_rate_per10k,asthma_hosp_adult_estimated__rate_per10k,asthma_hosp_adult_number
0,2005,neighborhood (uhf 42),queens,bayside - little neck,404,13.1,16.0,neighborhood (uhf 42),queens,bayside - little neck,23.5,10.0,neighborhood (uhf 42),queens,bayside - little neck,5.3,5.9,41.0
1,2006,neighborhood (uhf 42),queens,bayside - little neck,404,14.0,17.0,neighborhood (uhf 42),queens,bayside - little neck,43.4,18.0,neighborhood (uhf 42),queens,bayside - little neck,6.2,7.2,50.0
2,2007,neighborhood (uhf 42),queens,bayside - little neck,404,11.5,14.0,neighborhood (uhf 42),queens,bayside - little neck,48.3,20.0,neighborhood (uhf 42),queens,bayside - little neck,6.4,7.3,51.0
3,2008,neighborhood (uhf 42),queens,bayside - little neck,404,8.1,10.0,neighborhood (uhf 42),queens,bayside - little neck,60.6,25.0,neighborhood (uhf 42),queens,bayside - little neck,5.8,7.1,50.0
4,2009,neighborhood (uhf 42),queens,bayside - little neck,404,11.9,15.0,neighborhood (uhf 42),queens,bayside - little neck,46.6,19.0,neighborhood (uhf 42),queens,bayside - little neck,8.4,10.0,71.0

In [95]:
## FURTHER CLEANING THE MERGED DATA
### do we have the same number of different values in "georgraphy" and in "geography_id" in the individual uhf42 groupings?
asthma_Q_uhf42['geography'].value_counts().shape

(48,)

In [94]:
asthma_Q_uhf42['geography_id'].value_counts().shape

(47,)

In [106]:
asthma_Q_uhf42['borough'].value_counts()

brooklyn         121
manhattan        110
queens           110
bronx             77
staten island     44
new york city      0
Name: borough, dtype: int64

In [96]:
asthma_M_uhf42['geography'].value_counts().shape

(48,)

In [98]:
asthma_M_uhf42['geography_id'].value_counts().shape

(47,)

In [105]:
asthma_M_uhf42['borough'].value_counts()

brooklyn         132
manhattan        120
queens           120
bronx             84
staten island     48
new york city      0
Name: borough, dtype: int64

In [99]:
asthma_O_uhf42['geography'].value_counts().shape

(48,)

In [100]:
asthma_O_uhf42['geography_id'].value_counts().shape

(47,)

In [104]:
asthma_O_uhf42['borough'].value_counts()

brooklyn         165
manhattan        150
queens           150
bronx            105
staten island     60
new york city      0
Name: borough, dtype: int64

In [108]:
# geography_id, geography and borough columns correspond as they should so will now also merge those columns too

### MERGE DATASETS M,O,Q by year, geo ID, geography and borough

asthma_M_O_uhf42 = asthma_M_uhf42.merge(asthma_O_uhf42, on = ['year','borough','geography_id',"geography","geo_type_name"])
asthma_M_O_Q_uhf42 = asthma_M_O_uhf42.merge(asthma_Q_uhf42, on = ['year','borough','geography_id',"geography", "geo_type_name"])
asthma_M_O_Q_uhf42.head()

,year,geo_type_name,borough,geography,geography_id,asthma_hosp_5_14_estimated_annual_rate_per_10000,asthma_hosp_5_14_number,asthma_hosp_0_4_estimated_annual_rate_per_10000,asthma_hosp_0_4_number,asthma_hosp_adult_estimated__age_adjusted_rate_per10k,asthma_hosp_adult_estimated__rate_per10k,asthma_hosp_adult_number
0,2005,neighborhood (uhf 42),queens,bayside - little neck,404,13.1,16.0,23.5,10.0,5.3,5.9,41.0
1,2006,neighborhood (uhf 42),queens,bayside - little neck,404,14.0,17.0,43.4,18.0,6.2,7.2,50.0
2,2007,neighborhood (uhf 42),queens,bayside - little neck,404,11.5,14.0,48.3,20.0,6.4,7.3,51.0
3,2008,neighborhood (uhf 42),queens,bayside - little neck,404,8.1,10.0,60.6,25.0,5.8,7.1,50.0
4,2009,neighborhood (uhf 42),queens,bayside - little neck,404,11.9,15.0,46.6,19.0,8.4,10.0,71.0

In [112]:
asthma_M_O_Q_uhf42.dtypes

year                                                       object
geo_type_name                                            category
borough                                                  category
geography                                                category
geography_id                                             category
asthma_hosp_5_14_estimated_annual_rate_per_10000          float64
asthma_hosp_5_14_number                                   float64
asthma_hosp_0_4_estimated_annual_rate_per_10000           float64
asthma_hosp_0_4_number                                    float64
asthma_hosp_adult_estimated__age_adjusted_rate_per10k     float64
asthma_hosp_adult_estimated__rate_per10k                  float64
asthma_hosp_adult_number                                  float64
dtype: object

In [113]:
#export merged uhf42 for hospitalization data
asthma_M_O_Q_uhf42.to_csv("MERGED_asthmaMOQ_hospitalizations_uhf42.csv", encoding="utf-8")

In [265]:
asthma_A_df=pd.read_csv('A_Asthma Emergency Department Visits (Adults) by NTA.csv')

In [266]:
asthma_A_df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Emergency Department Visits (Adults) by NTA : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Asthma Emergency Department Vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Average Annual Age-Adjusted Rate (per 10,000 r...",Average Annual Number,"Average Annual Rate (per 10,000 residents)",Notes Average Annual Age-Adjusted Rate,Notes Average Annual Number,Notes Average Annual Rate
6,2012-2014,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults) by...,115.6,"76,554",114.5,NaN,NaN,NaN
7,2012-2014,Borough,Bronx,Bronx,1,Asthma Emergency Department Visits (Adults) by...,222.4,"23,769",221.7,NaN,NaN,NaN
8,2012-2014,Borough,Brooklyn,Brooklyn,2,Asthma Emergency Department Visits (Adults) by...,124,"24,572",122.4,NaN,NaN,NaN
9,2012-2014,Borough,Manhattan,Manhattan,3,Asthma Emergency Department Visits (Adults) by...,105.8,"14,139",101.3,NaN,NaN,NaN
10,2012-2014,Borough,Queens,Queens,4,Asthma Emergency Department Visits (Adults) by...,61.9,"11,301",61.3,NaN,NaN,NaN
11,2012-2014,Borough,Staten Island,Staten Island,5,Asthma Emergency Department Visits (Adults) by...,77.7,"2,773",75.3,NaN,NaN,NaN
12,2012-2014,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,Asthma Emergency Department Visits (Adults) by...,104.2,266,100.7,NaN,NaN,NaN
13,2017-2019,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,Asthma Emergency Department Visits (Adults) by...,87,203,79.8,NaN,NaN,NaN
14,2012-2014,Neighborhood (NTA),Staten Island,Annadale-Huguenot-Prince's Bay-Eltingville,8501,Asthma Emergency Department Visits (Adults) by...,24.7,55,24,NaN,NaN,NaN
15,2017-2019,Neighborhood (NTA),Staten Island,Annadale-Huguenot-Prince's Bay-Eltingville,8501,Asthma Emergency Department Visits (Adults) by...,13.6,31,13.5,NaN,NaN,NaN
16,2012-2014,Neighborhood (NTA),Staten Island,Arden Heights,8548,Asthma Emergency Department Visits (Adults) by...,39.7,78,37.9,NaN,NaN,NaN
17,2017-2019,Neighborhood (NTA),Staten Island,Arden Heights,8548,Asthma Emergency Department Visits (Adults) by...,26.3,49,23.8,NaN,NaN,NaN
18,2012-2014,Neighborhood (NTA),Queens,Astoria,8170,Asthma Emergency Department Visits (Adults) by...,55.3,338,50.9,NaN,NaN,NaN
19,2017-2019,Neighborhood (NTA),Queens,Astoria,8170,Asthma Emergency Department Visits (Adults) by...,43.7,251,41,NaN,NaN,NaN

In [267]:
#remove first 4 rows because it has no contribution to dataset
asthma_A_df = asthma_A_df.drop([0,1,2,3,4])

In [268]:
#show that columns 9-11 don't have numerical values
asthma_A_df["Unnamed: 9"].drop_duplicates()

5    Notes Average Annual Age-Adjusted Rate
6                                       NaN
Name: Unnamed: 9, dtype: object

In [269]:
#show that columns 9-11 don't have numerical values
asthma_A_df["Unnamed: 10"].drop_duplicates()

5    Notes Average Annual Number
6                            NaN
Name: Unnamed: 10, dtype: object

In [270]:
#show that columns 9-11 don't have numerical values
asthma_A_df["Unnamed: 11"].drop_duplicates()

5    Notes Average Annual Rate
6                          NaN
Name: Unnamed: 11, dtype: object

In [271]:
#remove columns 9-11 because its a notes section with NA values
asthma_A_df = asthma_A_df.drop(columns = ['Unnamed: 9','Unnamed: 10','Unnamed: 11'])

In [272]:
#rename columns
asthma_A_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','ed_annual_adult_nta_estimated_age_adjusted_rate_per10k','ed_annual_adult_nta_number', 'ed_annual_adult_nta_rate_per10k']

In [273]:
asthma_A_df = asthma_A_df.drop(columns = ['indicator_name'])

In [274]:
asthma_A_df.head(10)

,year,geo_type_name,borough,geography,geography_id,ed_annual_adult_nta_estimated_age_adjusted_rate_per10k,ed_annual_adult_nta_number,ed_annual_adult_nta_rate_per10k
5,Year,GeoTypeName,Borough,Geography,Geography ID,"Average Annual Age-Adjusted Rate (per 10,000 r...",Average Annual Number,"Average Annual Rate (per 10,000 residents)"
6,2012-2014,Citywide,New York City,New York City,1,115.6,"76,554",114.5
7,2012-2014,Borough,Bronx,Bronx,1,222.4,"23,769",221.7
8,2012-2014,Borough,Brooklyn,Brooklyn,2,124,"24,572",122.4
9,2012-2014,Borough,Manhattan,Manhattan,3,105.8,"14,139",101.3
10,2012-2014,Borough,Queens,Queens,4,61.9,"11,301",61.3
11,2012-2014,Borough,Staten Island,Staten Island,5,77.7,"2,773",75.3
12,2012-2014,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,104.2,266,100.7
13,2017-2019,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,87,203,79.8
14,2012-2014,Neighborhood (NTA),Staten Island,Annadale-Huguenot-Prince's Bay-Eltingville,8501,24.7,55,24

In [275]:
asthma_A_df = asthma_A_df.drop([5])

In [276]:
asthma_A_df=asthma_A_df.reset_index(drop=True)

In [277]:
asthma_A_df.tail(30)

,year,geo_type_name,borough,geography,geography_id,ed_annual_adult_nta_estimated_age_adjusted_rate_per10k,ed_annual_adult_nta_number,ed_annual_adult_nta_rate_per10k
376,2012-2014,Neighborhood (NTA),Bronx,Woodlawn-Wakefield,562,159.3,535,156.8
377,2017-2019,Neighborhood (NTA),Bronx,Woodlawn-Wakefield,562,160.3,531,156
378,2012-2014,Neighborhood (NTA),Queens,Woodside,8163,30.5,113,29.4
379,2017-2019,Neighborhood (NTA),Queens,Woodside,8163,25.1,89,24.9
380,2012-2014,Neighborhood (NTA),Manhattan,Yorkville,6132,32.6,207,29.1
381,2017-2019,Neighborhood (NTA),Manhattan,Yorkville,6132,26.7,150,21.8
382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,Name:Asthma Emergency Department Visits (Adult...,Measure:Average Annual Number,How Calculated:<p>Average annual number of ast...,NaN,NaN,NaN,NaN,NaN
384,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2012-2014 2017-2019,NaN,NaN,NaN,NaN,NaN
389,Name:Asthma Emergency Department Visits (Adult...,Measure:Average Annual Rate (per 10000 residents),How Calculated:<p>Average annual number of ast...,NaN,NaN,NaN,NaN,NaN
390,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,"<p><span style=""color: #333333; font-family: H...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2012-2014 2017-2019,NaN,NaN,NaN,NaN,NaN
395,Name:Asthma Emergency Department Visits (Adult...,Measure:Average Annual Age-Adjusted Rate (per ...,How Calculated:<p>Average annual number of ast...,NaN,NaN,NaN,NaN,NaN
396,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2012-2014 2017-2019,NaN,NaN,NaN,NaN,NaN
401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [278]:
#remove rows 382-405 because they have no contribution to dataset
asthma_A_df = asthma_A_df.drop([382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405])

In [279]:
asthma_A_df["geo_type_name"]=  asthma_A_df["geo_type_name"].str.lower() 
asthma_A_df["borough"]=  asthma_A_df["borough"].str.lower() 
asthma_A_df["geography"]=  asthma_A_df["geography"].str.lower()

In [280]:
#remove commas from all values 
asthma_A_df = asthma_A_df.replace(',','', regex=True)

In [281]:
asthma_A_df.dtypes

year                                                      object
geo_type_name                                             object
borough                                                   object
geography                                                 object
geography_id                                              object
ed_annual_adult_nta_estimated_age_adjusted_rate_per10k    object
ed_annual_adult_nta_number                                object
ed_annual_adult_nta_rate_per10k                           object
dtype: object

In [283]:
#changing to correct datatype
asthma_A_df.year = asthma_A_df.year.astype('category')
asthma_A_df.geo_type_name = asthma_A_df.geo_type_name.astype('category')
asthma_A_df.borough = asthma_A_df.borough.astype('category')
asthma_A_df.geography = asthma_A_df.geography.astype('category')
asthma_A_df.geography_id = asthma_A_df.geography_id.astype('category')

asthma_A_df.ed_annual_adult_nta_estimated_age_adjusted_rate_per10k = asthma_A_df.ed_annual_adult_nta_estimated_age_adjusted_rate_per10k.astype('float')
asthma_A_df.ed_annual_adult_nta_number = asthma_A_df.ed_annual_adult_nta_number.astype('float')
asthma_A_df.ed_annual_adult_nta_rate_per10k  = asthma_A_df.ed_annual_adult_nta_rate_per10k.astype('float')

In [284]:
asthma_A_df.dtypes

year                                                      category
geo_type_name                                             category
borough                                                   category
geography                                                 category
geography_id                                              category
ed_annual_adult_nta_estimated_age_adjusted_rate_per10k     float64
ed_annual_adult_nta_number                                 float64
ed_annual_adult_nta_rate_per10k                            float64
dtype: object

In [285]:
#export clean dataset
asthma_A_df.to_csv("A_clean.csv", encoding="utf-8")

In [492]:
########## MERGING
asthma_A_df['year'].value_counts()

2012-2014    194
2017-2019    188
Name: year, dtype: int64

In [493]:
asthma_A_df['geo_type_name'].value_counts()

neighborhood (nta)    376
borough                 5
citywide                1
Name: geo_type_name, dtype: int64

In [302]:
asthma_B_df=pd.read_csv('B_Asthma Emergency Department Visits (Children 0 to 4 Yrs Old) by NTA.csv')

In [303]:
asthma_B_df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Emergency Department Visits (Children 0 to 4 Yrs Old) by NTA : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Asthma Emergency Department Vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Notes: *Estimate is based on small numbers so ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Average Annual Number (per 10,000 residents)","Average Annual Rate (per 10,000 residents)",Number,Notes Average Annual Number,Notes Average Annual Rate,Notes Number
7,2014-2016,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,Asthma Emergency Department Visits (Children 0...,NaN,295.3,174,NaN,NaN,NaN
8,2017-2019,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,Asthma Emergency Department Visits (Children 0...,64,354.9,191,NaN,NaN,NaN
9,2014-2016,Neighborhood (NTA),Staten Island,Annadale-Huguenot-Prince's Bay-Eltingville,8501,Asthma Emergency Department Visits (Children 0...,NaN,37,16,NaN,NaN,NaN
10,2017-2019,Neighborhood (NTA),Staten Island,Annadale-Huguenot-Prince's Bay-Eltingville,8501,Asthma Emergency Department Visits (Children 0...,5,35.8,15,NaN,NaN,NaN
11,2014-2016,Neighborhood (NTA),Staten Island,Arden Heights,8548,Asthma Emergency Department Visits (Children 0...,NaN,56.9,26,NaN,NaN,NaN
12,2017-2019,Neighborhood (NTA),Staten Island,Arden Heights,8548,Asthma Emergency Department Visits (Children 0...,9,60.1,28,NaN,NaN,NaN
13,2014-2016,Neighborhood (NTA),Queens,Astoria,8170,Asthma Emergency Department Visits (Children 0...,NaN,88.9,98,NaN,NaN,NaN
14,2017-2019,Neighborhood (NTA),Queens,Astoria,8170,Asthma Emergency Department Visits (Children 0...,52,155.5,155,NaN,NaN,NaN
15,2014-2016,Neighborhood (NTA),Queens,Auburndale,8148,Asthma Emergency Department Visits (Children 0...,NaN,56.1,18,NaN,NaN,NaN
16,2017-2019,Neighborhood (NTA),Queens,Auburndale,8148,Asthma Emergency Department Visits (Children 0...,5,53.3,16,NaN,NaN,NaN
17,2014-2016,Neighborhood (NTA),Queens,Baisley Park,8176,Asthma Emergency Department Visits (Children 0...,NaN,341.5,253,NaN,NaN,NaN
18,2017-2019,Neighborhood (NTA),Queens,Baisley Park,8176,Asthma Emergency Department Visits (Children 0...,54,221.8,162,NaN,NaN,NaN
19,2014-2016,Neighborhood (NTA),Brooklyn,Bath Beach,4727,Asthma Emergency Department Visits (Children 0...,NaN,52.9,37,NaN,NaN,NaN

In [304]:
#remove first 5 rows because it has no contribution to dataset
asthma_B_df = asthma_B_df.drop([0,1,2,3,4,5])

In [305]:
#show that columns 9-11 don't have numerical values
asthma_B_df["Unnamed: 9"].drop_duplicates()

6                            Notes Average Annual Number
7                                                    NaN
144    *Estimate is based on small numbers so should ...
Name: Unnamed: 9, dtype: object

In [306]:
#show that columns 9-11 don't have numerical values
asthma_B_df["Unnamed: 10"].drop_duplicates()

6                             Notes Average Annual Rate
7                                                   NaN
91    *Estimate is based on small numbers so should ...
Name: Unnamed: 10, dtype: object

In [307]:
#show that columns 9-11 don't have numerical values
asthma_B_df["Unnamed: 11"].drop_duplicates()

6                                          Notes Number
7                                                   NaN
91    *Estimate is based on small numbers so should ...
Name: Unnamed: 11, dtype: object

In [308]:
#remove columns 9-11 because its a notes section with NA values
asthma_B_df = asthma_B_df.drop(columns = ['Unnamed: 9','Unnamed: 10','Unnamed: 11'])

In [309]:
#rename columns
asthma_B_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','ed_annual_0_4_number_per10k','ed_annual_0_4_rate_per10k', 'ed_0_4_number']

In [310]:
asthma_B_df.head(10)

,year,geo_type_name,borough,geography,geography_id,indicator_name,ed_annual_0_4_number_per10k,ed_annual_0_4_rate_per10k,ed_0_4_number
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Average Annual Number (per 10,000 residents)","Average Annual Rate (per 10,000 residents)",Number
7,2014-2016,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,Asthma Emergency Department Visits (Children 0...,NaN,295.3,174
8,2017-2019,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,Asthma Emergency Department Visits (Children 0...,64,354.9,191
9,2014-2016,Neighborhood (NTA),Staten Island,Annadale-Huguenot-Prince's Bay-Eltingville,8501,Asthma Emergency Department Visits (Children 0...,NaN,37,16
10,2017-2019,Neighborhood (NTA),Staten Island,Annadale-Huguenot-Prince's Bay-Eltingville,8501,Asthma Emergency Department Visits (Children 0...,5,35.8,15
11,2014-2016,Neighborhood (NTA),Staten Island,Arden Heights,8548,Asthma Emergency Department Visits (Children 0...,NaN,56.9,26
12,2017-2019,Neighborhood (NTA),Staten Island,Arden Heights,8548,Asthma Emergency Department Visits (Children 0...,9,60.1,28
13,2014-2016,Neighborhood (NTA),Queens,Astoria,8170,Asthma Emergency Department Visits (Children 0...,NaN,88.9,98
14,2017-2019,Neighborhood (NTA),Queens,Astoria,8170,Asthma Emergency Department Visits (Children 0...,52,155.5,155
15,2014-2016,Neighborhood (NTA),Queens,Auburndale,8148,Asthma Emergency Department Visits (Children 0...,NaN,56.1,18

In [311]:
asthma_B_df = asthma_B_df.drop(columns = ['indicator_name'])

In [312]:
asthma_B_df = asthma_B_df.drop([6])

In [313]:
asthma_B_df=asthma_B_df.reset_index(drop=True)

In [314]:
asthma_B_df.tail(30)

,year,geo_type_name,borough,geography,geography_id,ed_annual_0_4_number_per10k,ed_annual_0_4_rate_per10k,ed_0_4_number
361,2017-2019,Neighborhood (NTA),Queens,Whitestone,8149,16,94.3,48
362,2014-2016,Neighborhood (NTA),Bronx,Williamsbridge-Olinville,544,NaN,452.7,638
363,2017-2019,Neighborhood (NTA),Bronx,Williamsbridge-Olinville,544,222,489.6,665
364,2014-2016,Neighborhood (NTA),Brooklyn,Williamsburg,4772,NaN,39.4,72
365,2017-2019,Neighborhood (NTA),Brooklyn,Williamsburg,4772,13,20.5,38
366,2014-2016,Neighborhood (NTA),Brooklyn,Windsor Terrace,4740,NaN,47.2,25
367,2017-2019,Neighborhood (NTA),Brooklyn,Windsor Terrace,4740,8,47.2,23
368,2014-2016,Neighborhood (NTA),Queens,Woodhaven,8153,NaN,161.1,206
369,2017-2019,Neighborhood (NTA),Queens,Woodhaven,8153,66,176.1,199
370,2014-2016,Neighborhood (NTA),Bronx,Woodlawn-Wakefield,562,NaN,310.2,247
371,2017-2019,Neighborhood (NTA),Bronx,Woodlawn-Wakefield,562,86,344.5,258
372,2014-2016,Neighborhood (NTA),Queens,Woodside,8163,NaN,97.1,77
373,2017-2019,Neighborhood (NTA),Queens,Woodside,8163,37,160.6,111
374,2014-2016,Neighborhood (NTA),Manhattan,Yorkville,6132,NaN,80.9,98
375,2017-2019,Neighborhood (NTA),Manhattan,Yorkville,6132,35,93,104
376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,Name:Asthma Emergency Department Visits (Child...,Measure:Number,How Calculated:<p>Aggregated&nbsp;number of as...,NaN,NaN,NaN,NaN,NaN
378,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2014-2016 2017-2019,NaN,NaN,NaN,NaN,NaN
381,Name:Asthma Emergency Department Visits (Child...,Measure:Average Annual Number (per 10000 resid...,How Calculated:<p>UPDATE</p>,Source(s):New York State Statewide Plann,Year:2014-2016 2017-2019,NaN,NaN,NaN
382,Name:Asthma Emergency Department Visits (Child...,Measure:Average Annual Rate (per 10000 residents),How Calculated:<p>Average annual number of ast...,NaN,NaN,NaN,NaN,NaN
383,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2014-2016 2017-2019,NaN,NaN,NaN,NaN,NaN
386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [316]:
#remove rows 376-39 because they have no contribution to dataset
asthma_B_df = asthma_B_df.drop([376,377,378,379,380,381,382,383,384,385,386,387,388,389,390])

In [318]:
asthma_B_df["geo_type_name"]=  asthma_B_df["geo_type_name"].str.lower() 
asthma_B_df["borough"]=  asthma_B_df["borough"].str.lower() 
asthma_B_df["geography"]=  asthma_B_df["geography"].str.lower()

In [319]:
#remove commas from all values 
asthma_B_df = asthma_B_df.replace(',','', regex=True)

In [320]:
asthma_B_df.dtypes

year                           object
geo_type_name                  object
borough                        object
geography                      object
geography_id                   object
ed_annual_0_4_number_per10k    object
ed_annual_0_4_rate_per10k      object
ed_0_4_number                  object
dtype: object

In [321]:
#changing to correct datatype
asthma_B_df.year = asthma_B_df.year.astype('category')
asthma_B_df.geo_type_name = asthma_B_df.geo_type_name.astype('category')
asthma_B_df.borough = asthma_B_df.borough.astype('category')
asthma_B_df.geography = asthma_B_df.geography.astype('category')
asthma_B_df.geography_id = asthma_B_df.geography_id.astype('category')

asthma_B_df.ed_annual_0_4_number_per10k = asthma_B_df.ed_annual_0_4_number_per10k.astype('float')
asthma_B_df.ed_annual_0_4_rate_per10k = asthma_B_df.ed_annual_0_4_rate_per10k.astype('float')
asthma_B_df.ed_0_4_number  = asthma_B_df.ed_0_4_number.astype('float')

In [322]:
asthma_B_df.head(10)

,year,geo_type_name,borough,geography,geography_id,ed_annual_0_4_number_per10k,ed_annual_0_4_rate_per10k,ed_0_4_number
0,2014-2016,neighborhood (nta),bronx,allerton-pelham gardens,531,NaN,295.3,174.0
1,2017-2019,neighborhood (nta),bronx,allerton-pelham gardens,531,64.0,354.9,191.0
2,2014-2016,neighborhood (nta),staten island,annadale-huguenot-prince's bay-eltingville,8501,NaN,37.0,16.0
3,2017-2019,neighborhood (nta),staten island,annadale-huguenot-prince's bay-eltingville,8501,5.0,35.8,15.0
4,2014-2016,neighborhood (nta),staten island,arden heights,8548,NaN,56.9,26.0
5,2017-2019,neighborhood (nta),staten island,arden heights,8548,9.0,60.1,28.0
6,2014-2016,neighborhood (nta),queens,astoria,8170,NaN,88.9,98.0
7,2017-2019,neighborhood (nta),queens,astoria,8170,52.0,155.5,155.0
8,2014-2016,neighborhood (nta),queens,auburndale,8148,NaN,56.1,18.0
9,2017-2019,neighborhood (nta),queens,auburndale,8148,5.0,53.3,16.0

In [323]:
#export clean dataset
asthma_B_df.to_csv("B_clean.csv", encoding="utf-8")

In [495]:
########## MERGING
asthma_B_df['year'].value_counts()

2014-2016    188
2017-2019    188
Name: year, dtype: int64

In [496]:
asthma_B_df['geo_type_name'].value_counts()

neighborhood (nta)    376
Name: geo_type_name, dtype: int64

In [115]:
asthma_C_df=pd.read_csv('C_Asthma Emergency Department Visits (Adults).csv')

In [116]:
asthma_C_df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Emergency Department Visits (Adults) : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Asthma Emergency Department Vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description: Severe asthma attacks c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Notes: <strong style=""color: red;"">Data from...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Age-Adjusted Rate (per 10,000 residents)","Estimated Annual Rate (per 10,000 residents)",Number,Notes Age-Adjusted Rate,Notes Estimated Annual Rate,Notes Number
7,2005,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),99.5,100.3,"62,425",NaN,NaN,NaN
8,2006,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),102.7,103.5,"64,534",NaN,NaN,NaN
9,2007,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),104.4,105,"65,905",NaN,NaN,NaN

In [117]:
#remove first 5 rows because it has no contribution to dataset
asthma_C_df = asthma_C_df.drop([0,1,2,3,4,5])

In [118]:
#show that columns 9-11 don't have numerical values
asthma_C_df["Unnamed: 9"].drop_duplicates()

6                               Notes Age-Adjusted Rate
7                                                   NaN
17     <strong style="color: red;">Data from 2015 a...
Name: Unnamed: 9, dtype: object

In [119]:
#show that columns 9-11 don't have numerical values
asthma_C_df["Unnamed: 10"].drop_duplicates()

6                           Notes Estimated Annual Rate
7                                                   NaN
17     <strong style="color: red;">Data from 2015 a...
Name: Unnamed: 10, dtype: object

In [120]:
#show that columns 9-11 don't have numerical values
asthma_C_df["Unnamed: 11"].drop_duplicates()

6                                          Notes Number
7                                                   NaN
17     <strong style="color: red;">Data from 2015 a...
Name: Unnamed: 11, dtype: object

In [121]:
#remove columns 9-11 because its a notes section with NA values
asthma_C_df = asthma_C_df.drop(columns = ['Unnamed: 9','Unnamed: 10','Unnamed: 11'])

In [122]:
#rename columns
asthma_C_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','ed_annual_adult_estimated_age_adjusted_rate_per10k', 'ed_annual_adult_rate_per10k', 'ed_annual_adult_number']

In [123]:
asthma_C_df.head(10)

,year,geo_type_name,borough,geography,geography_id,indicator_name,ed_annual_adult_estimated_age_adjusted_rate_per10k,ed_annual_adult_rate_per10k,ed_annual_adult_number
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Age-Adjusted Rate (per 10,000 residents)","Estimated Annual Rate (per 10,000 residents)",Number
7,2005,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),99.5,100.3,"62,425"
8,2006,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),102.7,103.5,"64,534"
9,2007,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),104.4,105,"65,905"
10,2008,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),108.5,109,"69,081"
11,2009,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),108.7,109.1,"69,944"
12,2010,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),107.2,107.4,"69,536"
13,2011,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),109.5,109.6,"71,351"
14,2012,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),118.3,118.2,"77,792"
15,2013,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Adults),114,113.7,"75,473"

In [124]:
asthma_C_df = asthma_C_df.drop([6])

In [125]:
asthma_C_df = asthma_C_df.drop(columns = ['indicator_name'])

In [126]:
asthma_C_df=asthma_C_df.reset_index(drop=True)

In [127]:
asthma_C_df.tail(30)

,year,geo_type_name,borough,geography,geography_id,ed_annual_adult_estimated_age_adjusted_rate_per10k,ed_annual_adult_rate_per10k,ed_annual_adult_number
523,2010,Neighborhood (UHF 42),Staten Island,Willowbrook,503,49.2,46.9,315
524,2011,Neighborhood (UHF 42),Staten Island,Willowbrook,503,41.5,41.1,281
525,2012,Neighborhood (UHF 42),Staten Island,Willowbrook,503,41.5,41.3,284
526,2013,Neighborhood (UHF 42),Staten Island,Willowbrook,503,44.2,43,298
527,2014,Neighborhood (UHF 42),Staten Island,Willowbrook,503,44.3,41.3,288
528,2016,Neighborhood (UHF 42),Staten Island,Willowbrook,503,32.1,29.7,210
529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,Name:Asthma Emergency Department Visits (Adults),Measure:Number,How Calculated:<p>Number of asthma-related eme...,NaN,NaN,NaN,NaN,NaN
531,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN,NaN
536,Name:Asthma Emergency Department Visits (Adults),Measure:Age-Adjusted Rate (per 10000 residents),How Calculated:<p>Number of asthma-related eme...,NaN,NaN,NaN,NaN,NaN
537,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540,<p>&nbsp;An ED visit is included if it has an ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN,NaN
542,Name:Asthma Emergency Department Visits (Adults),Measure:Estimated Annual Rate (per 10000 resid...,How Calculated:<p>Number of asthma-related eme...,NaN,NaN,NaN,NaN,NaN
543,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN,NaN
548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
551,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
#remove rows 529-552 because they have no contribution to dataset
asthma_C_df = asthma_C_df.drop([529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552])

In [129]:
asthma_C_df["geo_type_name"]=  asthma_C_df["geo_type_name"].str.lower() 
asthma_C_df["borough"]=  asthma_C_df["borough"].str.lower() 
asthma_C_df["geography"]=  asthma_C_df["geography"].str.lower()

In [130]:
#remove commas from all values 
asthma_C_df = asthma_C_df.replace(',','', regex=True)

In [131]:
asthma_C_df.dtypes

year                                                  object
geo_type_name                                         object
borough                                               object
geography                                             object
geography_id                                          object
ed_annual_adult_estimated_age_adjusted_rate_per10k    object
ed_annual_adult_rate_per10k                           object
ed_annual_adult_number                                object
dtype: object

In [132]:
#changing to correct datatype
asthma_C_df.year = asthma_C_df.year.astype('category')
asthma_C_df.geo_type_name = asthma_C_df.geo_type_name.astype('category')
asthma_C_df.borough = asthma_C_df.borough.astype('category')
asthma_C_df.geography = asthma_C_df.geography.astype('category')
asthma_C_df.geography_id = asthma_C_df.geography_id.astype('category')

asthma_C_df.ed_annual_adult_estimated_age_adjusted_rate_per10k = asthma_C_df.ed_annual_adult_estimated_age_adjusted_rate_per10k.astype('float')
asthma_C_df.ed_annual_adult_rate_per10k = asthma_C_df.ed_annual_adult_rate_per10k.astype('float')
asthma_C_df.ed_annual_adult_number  = asthma_C_df.ed_annual_adult_number.astype('float')

In [133]:
asthma_C_df.head(10)

,year,geo_type_name,borough,geography,geography_id,ed_annual_adult_estimated_age_adjusted_rate_per10k,ed_annual_adult_rate_per10k,ed_annual_adult_number
0,2005,citywide,new york city,new york city,1,99.5,100.3,62425.0
1,2006,citywide,new york city,new york city,1,102.7,103.5,64534.0
2,2007,citywide,new york city,new york city,1,104.4,105.0,65905.0
3,2008,citywide,new york city,new york city,1,108.5,109.0,69081.0
4,2009,citywide,new york city,new york city,1,108.7,109.1,69944.0
5,2010,citywide,new york city,new york city,1,107.2,107.4,69536.0
6,2011,citywide,new york city,new york city,1,109.5,109.6,71351.0
7,2012,citywide,new york city,new york city,1,118.3,118.2,77792.0
8,2013,citywide,new york city,new york city,1,114.0,113.7,75473.0
9,2014,citywide,new york city,new york city,1,114.7,114.3,76396.0

In [134]:
#export clean dataset
asthma_C_df.to_csv("C_clean.csv", encoding="utf-8")

In [135]:
########## MERGING
asthma_C_df['year'].value_counts()

2005    48
2006    48
2007    48
2008    48
2009    48
2010    48
2011    48
2012    48
2013    48
2014    48
2016    48
2015     1
Name: year, dtype: int64

In [136]:
asthma_C_df['geo_type_name'].value_counts()

neighborhood (uhf 42)    462
borough                   55
citywide                  12
Name: geo_type_name, dtype: int64

In [137]:
asthma_C_uhf42 = asthma_C_df[asthma_C_df.geo_type_name == 'neighborhood (uhf 42)']

In [138]:
asthma_D_df=pd.read_csv('D_Asthma Emergency Department Visits (Children 0 to 4 Yrs Old).csv')

In [139]:
asthma_D_df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Emergency Department Visits (Children 0 to 4 Yrs Old) : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Asthma Emergency Department Vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Estimated Annual Rate (per 10,000 residents)",Number,Notes Estimated Annual Rate,Notes Number
6,2005,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,377.2,"19,927",NaN,NaN
7,2006,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,413.1,"21,492",NaN,NaN
8,2007,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,395.5,"20,534",NaN,NaN
9,2008,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,382.8,"19,995",NaN,NaN

In [140]:
#remove first 4 rows because it has no contribution to dataset
asthma_D_df = asthma_D_df.drop([0,1,2,3,4])

In [141]:
 #show that columns 8-9 don't have numerical values
asthma_D_df["Unnamed: 8"].drop_duplicates()

5    Notes Estimated Annual Rate
6                            NaN
Name: Unnamed: 8, dtype: object

In [142]:
 #show that columns 8-9 don't have numerical values
asthma_D_df["Unnamed: 9"].drop_duplicates()

5    Notes Number
6             NaN
Name: Unnamed: 9, dtype: object

In [143]:
#remove columns 8-9 because its a notes section with NA values
asthma_D_df = asthma_D_df.drop(columns = ['Unnamed: 9','Unnamed: 8'])

In [144]:
#rename columns
asthma_D_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','ed_annual_0_4_rate_per10k', 'ed_annual_0_4_number']

In [145]:
asthma_D_df.head(10)

,year,geo_type_name,borough,geography,geography_id,indicator_name,ed_annual_0_4_rate_per10k,ed_annual_0_4_number
5,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Estimated Annual Rate (per 10,000 residents)",Number
6,2005,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,377.2,"19,927"
7,2006,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,413.1,"21,492"
8,2007,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,395.5,"20,534"
9,2008,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,382.8,"19,995"
10,2009,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,389.3,"20,330"
11,2010,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,384.1,"20,013"
12,2011,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,370.2,"19,804"
13,2012,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,368.2,"20,065"
14,2013,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 0...,354.5,"19,765"

In [146]:
asthma_D_df = asthma_D_df.drop(columns = ['indicator_name'])

In [147]:
asthma_D_df = asthma_D_df.drop([5])

In [148]:
asthma_D_df=asthma_D_df.reset_index(drop=True)

In [149]:
asthma_D_df.tail(30)

,year,geo_type_name,borough,geography,geography_id,ed_annual_0_4_rate_per10k,ed_annual_0_4_number
564,2005,Neighborhood (UHF 42),Staten Island,Willowbrook,503,105.2,52
565,2006,Neighborhood (UHF 42),Staten Island,Willowbrook,503,114.2,56
566,2007,Neighborhood (UHF 42),Staten Island,Willowbrook,503,91.7,45
567,2008,Neighborhood (UHF 42),Staten Island,Willowbrook,503,93.7,46
568,2009,Neighborhood (UHF 42),Staten Island,Willowbrook,503,133,65
569,2010,Neighborhood (UHF 42),Staten Island,Willowbrook,503,118.9,58
570,2011,Neighborhood (UHF 42),Staten Island,Willowbrook,503,135.3,66
571,2012,Neighborhood (UHF 42),Staten Island,Willowbrook,503,110.2,53
572,2013,Neighborhood (UHF 42),Staten Island,Willowbrook,503,112.1,53
573,2014,Neighborhood (UHF 42),Staten Island,Willowbrook,503,80.7,38
574,2015,Neighborhood (UHF 42),Staten Island,Willowbrook,503,72.3,34
575,2016,Neighborhood (UHF 42),Staten Island,Willowbrook,503,75,35
576,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,Name:Asthma Emergency Department Visits (Child...,Measure:Number,How Calculated:<p>Number of asthma-related eme...,NaN,NaN,NaN,NaN
578,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
579,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN
580,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
581,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN
582,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN
583,Name:Asthma Emergency Department Visits (Child...,Measure:Estimated Annual Rate (per 10000 resid...,How Calculated:<p>Number of asthma-related eme...,NaN,NaN,NaN,NaN
584,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
585,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN
586,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
587,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN
588,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN
589,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN
591,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN
592,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN
593,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
#remove rows 576-593 because they have no contribution to dataset
asthma_D_df = asthma_D_df.drop([576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593])

In [151]:
asthma_D_df["geo_type_name"]=  asthma_D_df["geo_type_name"].str.lower() 
asthma_D_df["borough"]=  asthma_D_df["borough"].str.lower() 
asthma_D_df["geography"]=  asthma_D_df["geography"].str.lower()

In [152]:
#remove commas from all values 
asthma_D_df = asthma_D_df.replace(',','', regex=True)

In [153]:
asthma_D_df.dtypes

year                         object
geo_type_name                object
borough                      object
geography                    object
geography_id                 object
ed_annual_0_4_rate_per10k    object
ed_annual_0_4_number         object
dtype: object

In [154]:
#changing to correct datatype
asthma_D_df.year = asthma_D_df.year.astype('category')
asthma_D_df.geo_type_name = asthma_D_df.geo_type_name.astype('category')
asthma_D_df.borough = asthma_D_df.borough.astype('category')
asthma_D_df.geography = asthma_D_df.geography.astype('category')
asthma_D_df.geography_id = asthma_D_df.geography_id.astype('category')

asthma_D_df.ed_annual_0_4_rate_per10k = asthma_D_df.ed_annual_0_4_rate_per10k.astype('float')
asthma_D_df.ed_annual_0_4_number   = asthma_D_df.ed_annual_0_4_number .astype('float')

In [155]:
#export clean dataset
asthma_D_df.to_csv("D_clean.csv", encoding="utf-8")

In [156]:
########## MERGING
asthma_D_df['year'].value_counts()

2005    48
2006    48
2007    48
2008    48
2009    48
2010    48
2011    48
2012    48
2013    48
2014    48
2015    48
2016    48
Name: year, dtype: int64

In [157]:
asthma_D_df['geo_type_name'].value_counts()

neighborhood (uhf 42)    504
borough                   60
citywide                  12
Name: geo_type_name, dtype: int64

In [158]:
asthma_D_uhf42 = asthma_D_df[asthma_D_df.geo_type_name == 'neighborhood (uhf 42)']

In [159]:
asthma_E_df=pd.read_csv('E_Asthma Emergency Department Visits (Children 5 to 17 Yrs Old) by NTA.csv')

In [160]:
asthma_E_df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Emergency Department Visits (Children 5 to 17 Yrs Old) by NTA : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Asthma Emergency Department Vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Notes: *Estimate is based on small numbers so ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,Average Annual Number,"Average Annual Rate (per 10,000 residents)",Notes Average Annual Number,Notes Average Annual Rate
7,2014-2016,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,"27,415",223.7,NaN,NaN
8,2014-2016,Borough,Bronx,Bronx,1,Asthma Emergency Department Visits (Children 5...,"10,479",406.7,NaN,NaN
9,2014-2016,Borough,Brooklyn,Brooklyn,2,Asthma Emergency Department Visits (Children 5...,"7,808",190.6,NaN,NaN

In [161]:
#remove first 5 rows because it has no contribution to dataset
asthma_E_df = asthma_E_df.drop([0,1,2,3,4,5])

In [162]:
 #show that columns 8-9 don't have numerical values
asthma_E_df["Unnamed: 8"].drop_duplicates()

6                            Notes Average Annual Number
7                                                    NaN
359    < 4Estimate is based on small numbers so shoul...
Name: Unnamed: 8, dtype: object

In [163]:
 #show that columns 8-9 don't have numerical values
asthma_E_df["Unnamed: 9"].drop_duplicates()

6                              Notes Average Annual Rate
7                                                    NaN
359    *Estimate is based on small numbers so should ...
Name: Unnamed: 9, dtype: object

In [164]:
#remove columns 8-9 because its a notes section with NA values
asthma_E_df = asthma_E_df.drop(columns = ['Unnamed: 9','Unnamed: 8'])

In [165]:
#rename columns
asthma_E_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','ed_annual_5_17_nta_number','ed_annual_5_17_nta_rate_per10k']

In [166]:
asthma_E_df.head(10)

,year,geo_type_name,borough,geography,geography_id,indicator_name,ed_annual_5_17_nta_number,ed_annual_5_17_nta_rate_per10k
6,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,Average Annual Number,"Average Annual Rate (per 10,000 residents)"
7,2014-2016,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,"27,415",223.7
8,2014-2016,Borough,Bronx,Bronx,1,Asthma Emergency Department Visits (Children 5...,"10,479",406.7
9,2014-2016,Borough,Brooklyn,Brooklyn,2,Asthma Emergency Department Visits (Children 5...,"7,808",190.6
10,2014-2016,Borough,Manhattan,Manhattan,3,Asthma Emergency Department Visits (Children 5...,"4,178",267.5
11,2014-2016,Borough,Queens,Queens,4,Asthma Emergency Department Visits (Children 5...,"4,210",129.6
12,2014-2016,Borough,Staten Island,Staten Island,5,Asthma Emergency Department Visits (Children 5...,739,95.5
13,2014-2016,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,Asthma Emergency Department Visits (Children 5...,115,225.5
14,2017-2019,Neighborhood (NTA),Bronx,Allerton-Pelham Gardens,531,Asthma Emergency Department Visits (Children 5...,82,170
15,2014-2016,Neighborhood (NTA),Staten Island,Annadale-Huguenot-Prince's Bay-Eltingville,8501,Asthma Emergency Department Visits (Children 5...,14,30.3

In [167]:
asthma_E_df = asthma_E_df.drop(columns = ['indicator_name'])

In [168]:
 asthma_E_df = asthma_E_df.drop([6])

In [169]:
asthma_E_df=asthma_E_df.reset_index(drop=True)

In [170]:
asthma_E_df.tail(30)

,year,geo_type_name,borough,geography,geography_id,ed_annual_5_17_nta_number,ed_annual_5_17_nta_rate_per10k
370,2014-2016,Neighborhood (NTA),Brooklyn,Williamsburg,4772,33,33.4
371,2017-2019,Neighborhood (NTA),Brooklyn,Williamsburg,4772,24,22.1
372,2014-2016,Neighborhood (NTA),Brooklyn,Windsor Terrace,4740,11,43.3
373,2017-2019,Neighborhood (NTA),Brooklyn,Windsor Terrace,4740,7,27.6
374,2014-2016,Neighborhood (NTA),Queens,Woodhaven,8153,154,143.3
375,2017-2019,Neighborhood (NTA),Queens,Woodhaven,8153,99,97.9
376,2014-2016,Neighborhood (NTA),Bronx,Woodlawn-Wakefield,562,172,246.5
377,2017-2019,Neighborhood (NTA),Bronx,Woodlawn-Wakefield,562,146,221.3
378,2014-2016,Neighborhood (NTA),Queens,Woodside,8163,61,110
379,2017-2019,Neighborhood (NTA),Queens,Woodside,8163,50,98.9
380,2014-2016,Neighborhood (NTA),Manhattan,Yorkville,6132,52,79.1
381,2017-2019,Neighborhood (NTA),Manhattan,Yorkville,6132,37,55.8
382,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,Name:Asthma Emergency Department Visits (Child...,Measure:Average Annual Number,How Calculated:<p>Average annual number of ast...,NaN,NaN,NaN,NaN
384,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
385,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN
386,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
387,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN
388,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2014-2016 2017-2019,NaN,NaN,NaN,NaN
389,Name:Asthma Emergency Department Visits (Child...,Measure:Average Annual Rate (per 10000 residents),How Calculated:<p>Average annual number of ast...,NaN,NaN,NaN,NaN
390,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
391,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN
392,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
393,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN
394,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2014-2016 2017-2019,NaN,NaN,NaN,NaN
395,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN
397,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN
398,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN
399,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN

In [171]:
#remove rows 382-399 because they have no contribution to dataset
asthma_E_df = asthma_E_df.drop([382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399])

In [172]:
asthma_E_df["geo_type_name"]=  asthma_E_df["geo_type_name"].str.lower() 
asthma_E_df["borough"]=  asthma_E_df["borough"].str.lower() 
asthma_E_df["geography"]=  asthma_E_df["geography"].str.lower()

In [173]:
#remove commas from all values 
asthma_E_df = asthma_E_df.replace(',','', regex=True)

In [174]:
asthma_E_df.dtypes

year                              object
geo_type_name                     object
borough                           object
geography                         object
geography_id                      object
ed_annual_5_17_nta_number         object
ed_annual_5_17_nta_rate_per10k    object
dtype: object

In [175]:
#changing to correct datatype
asthma_E_df.year = asthma_E_df.year.astype('category')
asthma_E_df.geo_type_name = asthma_E_df.geo_type_name.astype('category')
asthma_E_df.borough = asthma_E_df.borough.astype('category')
asthma_E_df.geography = asthma_E_df.geography.astype('category')
asthma_E_df.geography_id = asthma_E_df.geography_id.astype('category')

asthma_E_df.ed_annual_5_17_nta_number = asthma_E_df.ed_annual_5_17_nta_number.astype('float')
asthma_E_df.ed_annual_5_17_nta_rate_per10k = asthma_E_df.ed_annual_5_17_nta_rate_per10k.astype('float')

In [176]:
#export clean dataset
asthma_E_df.to_csv("E_clean.csv", encoding="utf-8")

In [177]:
########## MERGING
asthma_E_df['year'].value_counts()

2014-2016    194
2017-2019    188
Name: year, dtype: int64

In [178]:
asthma_E_df['geo_type_name'].value_counts()

neighborhood (nta)    376
borough                 5
citywide                1
Name: geo_type_name, dtype: int64

In [179]:
asthma_F_df=pd.read_csv('F_Asthma Emergency Department Visits (Children 5 to 17 Yrs Old).csv')

In [180]:
asthma_F_df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Emergency Department Visits (Children 5 to 17 Yrs Old) : Summarize,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Topic: Health Behavior and Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subtopic: Asthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicator Name: Asthma Emergency Department Vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Description: Severe asthma attacks c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Estimated Annual Rate (per 10,000 residents)",Number,Notes Estimated Annual Rate,Notes Number
6,2005,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,199.2,"25,834",NaN,NaN
7,2006,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,209.2,"26,766",NaN,NaN
8,2007,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,202.9,"25,686",NaN,NaN
9,2008,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,192.1,"24,227",NaN,NaN

In [181]:
#remove first 4 rows because it has no contribution to dataset
asthma_F_df = asthma_F_df.drop([0,1,2,3,4])

In [182]:
 #show that columns 8-9 don't have numerical values
asthma_F_df["Unnamed: 8"].drop_duplicates()

5    Notes Estimated Annual Rate
6                            NaN
Name: Unnamed: 8, dtype: object

In [183]:
 #show that columns 8-9 don't have numerical values
asthma_F_df["Unnamed: 9"].drop_duplicates()

5    Notes Number
6             NaN
Name: Unnamed: 9, dtype: object

In [184]:
#remove columns 8-9 because its a notes section with NA values
asthma_F_df = asthma_F_df.drop(columns = ['Unnamed: 9','Unnamed: 8'])

In [185]:
asthma_F_df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Asthma Emergency Department Visits (Children 5 to 17 Yrs Old) : Summarize,Unnamed: 6,Unnamed: 7
5,Year,GeoTypeName,Borough,Geography,Geography ID,Indicator Name,"Estimated Annual Rate (per 10,000 residents)",Number
6,2005,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,199.2,"25,834"
7,2006,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,209.2,"26,766"
8,2007,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,202.9,"25,686"
9,2008,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,192.1,"24,227"
10,2009,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,202.7,"25,573"
11,2010,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,199.3,"25,100"
12,2011,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,218.6,"27,061"
13,2012,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,229.9,"28,353"
14,2013,Citywide,New York City,New York City,1,Asthma Emergency Department Visits (Children 5...,230.6,"28,370"

In [186]:
#rename columns
asthma_F_df.columns=['year','geo_type_name','borough','geography','geography_id','indicator_name','ed_annual_5_17_rate_per10k', 'ed_annual_5_17_number']

In [187]:
 asthma_F_df = asthma_F_df.drop([5])

In [188]:
asthma_F_df=asthma_F_df.reset_index(drop=True)

In [189]:
asthma_F_df = asthma_F_df.drop(columns = ['indicator_name'])

In [190]:
asthma_F_df.tail(30)

,year,geo_type_name,borough,geography,geography_id,ed_annual_5_17_rate_per10k,ed_annual_5_17_number
564,2005,Neighborhood (UHF 42),Staten Island,Willowbrook,503,60.9,87
565,2006,Neighborhood (UHF 42),Staten Island,Willowbrook,503,60.6,85
566,2007,Neighborhood (UHF 42),Staten Island,Willowbrook,503,39.7,55
567,2008,Neighborhood (UHF 42),Staten Island,Willowbrook,503,50.2,69
568,2009,Neighborhood (UHF 42),Staten Island,Willowbrook,503,59.5,81
569,2010,Neighborhood (UHF 42),Staten Island,Willowbrook,503,51.1,69
570,2011,Neighborhood (UHF 42),Staten Island,Willowbrook,503,71.2,95
571,2012,Neighborhood (UHF 42),Staten Island,Willowbrook,503,68,90
572,2013,Neighborhood (UHF 42),Staten Island,Willowbrook,503,43.3,57
573,2014,Neighborhood (UHF 42),Staten Island,Willowbrook,503,54.5,71
574,2015,Neighborhood (UHF 42),Staten Island,Willowbrook,503,53.9,70
575,2016,Neighborhood (UHF 42),Staten Island,Willowbrook,503,44.5,58
576,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,Name:Asthma Emergency Department Visits (Child...,Measure:Number,How Calculated:<p>Number of asthma-related eme...,NaN,NaN,NaN,NaN
578,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
579,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN
580,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
581,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN
582,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN
583,Name:Asthma Emergency Department Visits (Child...,Measure:Estimated Annual Rate (per 10000 resid...,How Calculated:<p>Number of asthma-related eme...,NaN,NaN,NaN,NaN
584,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
585,<p>ED visits include both patients who are tre...,NaN,NaN,NaN,NaN,NaN,NaN
586,<p>&nbsp;</p>,NaN,NaN,NaN,NaN,NaN,NaN
587,<p>An ED visit is included if it has an ICD-9 ...,NaN,NaN,NaN,NaN,NaN,NaN
588,<p>&nbsp;</p>,Source(s):New York State Statewide Plann,Year:2005 2006 2007 2008 2009 2010 2011 2012 2...,NaN,NaN,NaN,NaN
589,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,NYC Department of Health and Mental Hygiene,NaN,NaN,NaN,NaN,NaN,NaN
591,Environment & Health Data Portal,NaN,NaN,NaN,NaN,NaN,NaN
592,More information can be found at: http://nyc.g...,NaN,NaN,NaN,NaN,NaN,NaN
593,Accessed 06/05/2021,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
#remove rows 576-599 because they have no contribution to dataset
asthma_F_df = asthma_F_df.drop([576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593])

In [192]:
asthma_F_df["geo_type_name"]=  asthma_F_df["geo_type_name"].str.lower() 
asthma_F_df["borough"]=  asthma_F_df["borough"].str.lower() 
asthma_F_df["geography"]=  asthma_F_df["geography"].str.lower()

In [193]:
#remove commas from all values 
asthma_F_df = asthma_F_df.replace(',','', regex=True)

In [194]:
asthma_F_df.dtypes

year                          object
geo_type_name                 object
borough                       object
geography                     object
geography_id                  object
ed_annual_5_17_rate_per10k    object
ed_annual_5_17_number         object
dtype: object

In [195]:
#changing to correct datatype
asthma_F_df.year = asthma_F_df.year.astype('category')
asthma_F_df.geo_type_name = asthma_F_df.geo_type_name.astype('category')
asthma_F_df.borough = asthma_F_df.borough.astype('category')
asthma_F_df.geography = asthma_F_df.geography.astype('category')
asthma_F_df.geography_id = asthma_F_df.geography_id.astype('category')

asthma_F_df.ed_annual_5_17_number = asthma_F_df.ed_annual_5_17_number.astype('float')
asthma_F_df.ed_annual_5_17_rate_per10k = asthma_F_df.ed_annual_5_17_rate_per10k.astype('float')

In [196]:
#export clean dataset
asthma_F_df.to_csv("F_clean.csv", encoding="utf-8")

In [197]:
########## MERGING
asthma_F_df['year'].value_counts()

2005    48
2006    48
2007    48
2008    48
2009    48
2010    48
2011    48
2012    48
2013    48
2014    48
2015    48
2016    48
Name: year, dtype: int64

In [198]:
asthma_F_df['geo_type_name'].value_counts()

neighborhood (uhf 42)    504
borough                   60
citywide                  12
Name: geo_type_name, dtype: int64

In [199]:
asthma_F_uhf42 = asthma_F_df[asthma_F_df.geo_type_name == 'neighborhood (uhf 42)']

In [200]:
### MERGE DATASETS C,D,F
asthma_C_D_uhf42 = asthma_C_uhf42.merge(asthma_D_uhf42, on = ['geography_id'])
asthma_C_D_F_uhf42 = asthma_C_D_uhf42.merge(asthma_F_uhf42, on = ['geography_id'])
asthma_C_D_F_uhf42.head()

,year_x,geo_type_name_x,borough_x,geography_x,geography_id,ed_annual_adult_estimated_age_adjusted_rate_per10k,ed_annual_adult_rate_per10k,ed_annual_adult_number,year_y,geo_type_name_y,borough_y,geography_y,ed_annual_0_4_rate_per10k,ed_annual_0_4_number,year,geo_type_name,borough,geography,ed_annual_5_17_rate_per10k,ed_annual_5_17_number
0,2005,neighborhood (uhf 42),queens,bayside - little neck,404,16.3,15.2,106.0,2005,neighborhood (uhf 42),queens,bayside - little neck,101.2,43.0,2005,neighborhood (uhf 42),queens,bayside - little neck,31.1,38.0
1,2005,neighborhood (uhf 42),queens,bayside - little neck,404,16.3,15.2,106.0,2005,neighborhood (uhf 42),queens,bayside - little neck,101.2,43.0,2006,neighborhood (uhf 42),queens,bayside - little neck,42.7,52.0
2,2005,neighborhood (uhf 42),queens,bayside - little neck,404,16.3,15.2,106.0,2005,neighborhood (uhf 42),queens,bayside - little neck,101.2,43.0,2007,neighborhood (uhf 42),queens,bayside - little neck,49.2,60.0
3,2005,neighborhood (uhf 42),queens,bayside - little neck,404,16.3,15.2,106.0,2005,neighborhood (uhf 42),queens,bayside - little neck,101.2,43.0,2008,neighborhood (uhf 42),queens,bayside - little neck,51.7,64.0
4,2005,neighborhood (uhf 42),queens,bayside - little neck,404,16.3,15.2,106.0,2005,neighborhood (uhf 42),queens,bayside - little neck,101.2,43.0,2009,neighborhood (uhf 42),queens,bayside - little neck,49.1,62.0

In [201]:
asthma_C_uhf42['geography'].value_counts().shape

(48,)

In [202]:
asthma_C_uhf42['geography_id'].value_counts().shape

(47,)

In [204]:
asthma_C_uhf42['borough'].value_counts()

brooklyn         121
manhattan        110
queens           110
bronx             77
staten island     44
new york city      0
Name: borough, dtype: int64

In [205]:
asthma_D_uhf42['geography'].value_counts().shape

(48,)

In [206]:
asthma_D_uhf42['geography_id'].value_counts().shape

(47,)

In [207]:
asthma_D_uhf42['borough'].value_counts()

brooklyn         132
manhattan        120
queens           120
bronx             84
staten island     48
new york city      0
Name: borough, dtype: int64

In [208]:
asthma_F_uhf42['geography'].value_counts().shape

(48,)

In [209]:
asthma_F_uhf42['geography_id'].value_counts().shape

(47,)

In [210]:
asthma_F_uhf42['borough'].value_counts()

brooklyn         132
manhattan        120
queens           120
bronx             84
staten island     48
new york city      0
Name: borough, dtype: int64

In [211]:
# geography_id, geography and borough columns correspond as they should so will now also merge those columns too

### MERGE DATASETS M,O,Q by year, geo ID, geography and borough

asthma_C_D_uhf42 = asthma_C_uhf42.merge(asthma_D_uhf42, on = ['year','borough','geography_id',"geography","geo_type_name"])
asthma_C_D_F_uhf42 = asthma_C_D_uhf42.merge(asthma_F_uhf42, on = ['year','borough','geography_id',"geography", "geo_type_name"])
asthma_C_D_F_uhf42.head()

,year,geo_type_name,borough,geography,geography_id,ed_annual_adult_estimated_age_adjusted_rate_per10k,ed_annual_adult_rate_per10k,ed_annual_adult_number,ed_annual_0_4_rate_per10k,ed_annual_0_4_number,ed_annual_5_17_rate_per10k,ed_annual_5_17_number
0,2005,neighborhood (uhf 42),queens,bayside - little neck,404,16.3,15.2,106.0,101.2,43.0,31.1,38.0
1,2006,neighborhood (uhf 42),queens,bayside - little neck,404,17.4,17.9,125.0,91.6,38.0,42.7,52.0
2,2007,neighborhood (uhf 42),queens,bayside - little neck,404,18.7,18.1,127.0,111.2,46.0,49.2,60.0
3,2008,neighborhood (uhf 42),queens,bayside - little neck,404,17.1,17.3,122.0,133.2,55.0,51.7,64.0
4,2009,neighborhood (uhf 42),queens,bayside - little neck,404,23.2,23.3,166.0,125.2,51.0,49.1,62.0

In [212]:
asthma_C_D_F_uhf42.dtypes

year                                                  category
geo_type_name                                         category
borough                                               category
geography                                             category
geography_id                                          category
ed_annual_adult_estimated_age_adjusted_rate_per10k     float64
ed_annual_adult_rate_per10k                            float64
ed_annual_adult_number                                 float64
ed_annual_0_4_rate_per10k                              float64
ed_annual_0_4_number                                   float64
ed_annual_5_17_rate_per10k                             float64
ed_annual_5_17_number                                  float64
dtype: object

In [213]:
#export merged uhf42 for emergency department data
asthma_C_D_F_uhf42.to_csv("MERGED_asthmaCDF_ED_uhf42.csv", encoding="utf-8")